<section class="justify-content-center top-area" id="section_1" #stickyMenu [class.active]="section === 'home-section'">
    <h2 class="main-title justify-content-center ">Vos documents juridiques,</h2>
    <h2 class="second-title justify-content-center">tawa tawa</h2>
    <div class="container" id="search-container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-9" id="search-bar">
                <div class="filter-wrapper row" id="custom-search-input">

                    <div class="keyword-wrapper">
                        <input autocomplete="off" type="text" #keyword id="keyword" class="search-input row"
                               [(ngModel)]="currentSearch" (keyup)="searchLegalDocuments(currentSearch)"
                               placeholder="{{ 'home.search-placeholder' | translate }}" autofocus/>
                        <img class="search-icon" src="../../../../content/images/recherche-icon.png" alt="search-icon">
                    </div>
                </div>
                <ul class="filter-select" *ngIf="keyword.value.length >0">
                    <li class="filter-select-list row"
                        *ngFor="let legalDocumentSearchResult of legalDocumentsSearchResult">
                        <fa-icon id="document-icon" class="col-1 col-sm-1 col-xl-1" [icon]="'file-alt'"></fa-icon>
                        <p class="artist-name col-8 col-sm-8 col-xl-8"
                           [routerLink]="['user/legal-document-description/', legalDocumentSearchResult.id]">{{legalDocumentSearchResult.fullName}}</p>
                        <span class="short-name col-1 col-sm-1 col-xl-1"> {{legalDocumentSearchResult.shortName}}</span>
                        <a class="remplir-button col-1 col-sm-1 col-xl-1" [routerLink]="['stepper/doc/', legalDocumentSearchResult.id]"><img
                            class="remplir" src="../../../../content/images/edit.png" alt="edit"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a class="button-top" href="#section_1" role="button"></a>
</section>



