<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">PaperLabs activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.getFirstName()+ ' '+ user.getLastName()})}">
            Cher
        </p>
        <p th:text="#{email.activation.text1}">
            Votre compte PaperLabs a été créé, veuillez cliquer sur l'URL ci-dessous pour l'activer et valider votre commande:        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}&orderId=${orderId}|})" th:href="${url}"
            th:text="${url}">Lien d'activation</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Cordialement, </span>
            <br/>
            <em th:text="#{email.signature}">Équipe PaperLabs.</em>
        </p>
    </body>
</html>
