<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.contactUser.title}">PaperLabs contact</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.contactUser.greeting(${contact.getFirstName()+ ' '+ contact.getLastName()})}">
            Cher
        </p>
        <p th:text="#{email.contactUser.text1(${contact.getNeed()})}">
            Votre demande avec le motif "" à été envoyée avec succès à l'équipe Paperlabs.
        </p>
        <p th:text="#{email.contactUser.text2}">
            Un administrateur vous contactera bientôt.
        </p>
        <p>
            <span th:text="#{email.contactUser.text3}">Cordialement, </span>
            <br/>
            <em th:text="#{email.signature}">Équipe PaperLabs.</em>
        </p>
    </body>
</html>
