<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">PaperLabs Réinitialisation du mot de passe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.getFirstName()+ ' '+ user.getLastName()})}">
            Cher
        </p>
        <p th:text="#{email.reset.text1}">
            Pour votre compte PaperLabs, une réinitialisation du mot de passe a été demandée, veuillez cliquer sur l'URL ci-dessous pour le réinitialiser:
        </p>
        <p>
                <a th:with="url=(@{|${baseUrl}/reset/finish?key=${user.resetKey}|})" th:href="${url}" 
                th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Cordialement, </span>
            <br/>
            <em th:text="#{email.signature}">Équipe PaperLabs.</em>
        </p>
    </body>
</html>
