.doc-containter {
  position: relative;
  left: 15%;
  right: 15%;
}

.btn-paperlabs {
  line-height: 20px;
  padding: 18px 36px;
  white-space: normal;
  color: #fff;
  background-color: #1400c3;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  padding-right: 44px;
  font-family: 'calibri';
}

.icn-paperlabs {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.doc-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'calibri';
  color: #071a81;
}

.doc-description {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #495057;
  margin: 15px 0 0;
}

.headings {
  //font-family: 'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  box-sizing: border-box;
}

.doc-features {
  list-style: none;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 17px;
  color: #071a81;
  font-family: 'calibri';
}

.doc-features2 {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 9%;
  font-size: 17px;
  color: #071a81;
  font-family: 'calibri';
}

.doc-feature-item {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.2;
}
.doc-feature-item2 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.2;
}

.doc-features li a {
  vertical-align: middle;
  margin: 0 24px 0 12px;
  color: #071a81;
  text-decoration: none;
}

.doc-features li a:hover {
  color: #1400c3;
}

.doc-feature-icon {
  content: '';
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  color: #071a81;
}

.doc-feature-icon2 {
  content: '';
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  color: #071a81;
}

.doc-sections-title {
  text-align: center;
  color: #333;
  font-size: 25px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: bold;
}

.doc-sections {
  margin-top: 60px;
  margin-bottom: 10px;
}

.doc-sections-content {
  margin-top: 30px;
}

.doc-section-title {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #1400c3;
}

.doc-section-content {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'calibri';
  color: #071a81;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 600px) {
  .doc-title {
    font-size: x-large !important;
    text-align: center;
    margin-top: 20px;
  }

  .doc-description {
    font-size: inherit;
  }

  .doc-feature-item {
    margin: 0 !important;
  }

  .doc-containter {
    text-align: center !important;
    line-height: 1.5;
  }

  .btn-paperlabs {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .doc-title {
    font-size: x-large !important;
    text-align: center;
  }

  .doc-description {
    font-size: inherit;
  }

  .doc-feature-item {
    margin: 0 !important;
  }

  .doc-containter {
    left: 3%;
    right: 3%;
    margin-top: 15%;
    text-align: center !important;
    line-height: 1.5;
  }
}
.colmn {
  width: 37.33%;
}
.tab {
  margin-left: 2%;
  margin-right: 2%;
}
.colmn2 {
  width: 37.33%;
  padding-right: 5%;
}
.img {
  margin-left: 73%;
  margin-bottom: -26%;
  margin-top: 0%;
}

@media screen and (max-width: 600px) {
  .img {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -115%;
    opacity: 0.5;
  }
}

@media screen and (max-width: 600px) {
  .doc-features2 {
    display: none;
  }
}
