<div class="footer pap-footer card pap-card">

    <div class="pap-footer-sections">
        <div class="pap-footer-section">
            <div class="pap-footer-title">A PROPOS</div>
            <ul class="pap-footer-items">
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/about-us">Qui sommes-nous?</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/team">Équipe</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/terms-and-conditions">Conditions générales</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/legal-notice">Mentions légales</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/privacy-policy">Politique de confidentialité</a></li>
            </ul>
        </div>

        <div class="pap-footer-section">
            <div class="pap-footer-title">LIENS UTILES</div>
            <ul class="pap-footer-items">
                <!-- <li class="pap-footer-item"><a class="pap-footer-link"
                     routerLink="user/legal-guides">Guides juridiques</a></li> -->
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/faq">F.A.Q</a></li>
                
            </ul>
        </div>

        <div class="pap-footer-section">
            <div class="pap-footer-title">NOUS CONTACTER</div>
            <ul class="pap-footer-items">
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/contact">Formulaire de contact</a></li>
                
                <li class="pap-footer-item"><a class="pap-footer-link" href="tel:+21628616765"><span
                    class="material-icons pap-icons"></span></a></li>
              
            </ul>
        </div>
    </div>

    <div class="pap-copyright">© 2022 LEGAL PAPER S A R L</div>

</div>
