<div class="footer pap-footer card pap-card">

    <div class="pap-footer-sections">
        <div class="pap-footer-section">
            <div class="pap-footer-title">A propos</div>
            <ul class="pap-footer-items">
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/team">Équipe</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/terms-and-conditions">Conditions générales</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/legal-notice">Mentions légales</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/privacy-policy">Politique de confidentialité</a></li>
            </ul>
        </div>

        <div class="pap-footer-section">
            <div class="pap-footer-title">Liens utiles</div>
            <ul class="pap-footer-items">
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/documents-and-legal-services">Documents et services juridiques</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/question-for-lawyer">Question pour avocat</a></li>
                <!-- <li class="pap-footer-item"><a class="pap-footer-link"
                     routerLink="user/legal-guides">Guides juridiques</a></li> -->
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/faq">F.A.Q</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/lawyers-charter">Charte avocats</a></li>
            </ul>
        </div>

        <div class="pap-footer-section">
            <div class="pap-footer-title">Nos services juridiques</div>
            <ul class="pap-footer-items">
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/business-creation">Création d'entreprise</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/association-creation">Création d'association</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/employment-contracts">Contrats de travail</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/commercial-contracts">Contrats commerciaux</a></li>
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/lease-contracts">Contrats de location</a></li>
            </ul>
        </div>

        <div class="pap-footer-section">
            <div class="pap-footer-title">Nous contacter</div>
            <ul class="pap-footer-items">
                <li class="pap-footer-item"><a class="pap-footer-link" routerLink="user/contact">Formulaire de contact</a></li>
                <li class="pap-footer-item">Paperlabs
                </li>
                <li class="pap-footer-item"><a class="pap-footer-link" href="tel:+21628616765"><span
                    class="material-icons pap-icons"></span>Tél: +216 28 616 765</a></li>
                <li class="pap-footer-item">
                    <a href="https://www.facebook.com/paperlabs">
                        <fa-icon [icon]="['fab', 'facebook-f']" [fixedWidth]="true" size="lg"></fa-icon>
                    </a>
                    <a href="https://www.twitter.com/paperlabs">
                        <fa-icon [icon]="['fab', 'twitter']" [fixedWidth]="true" size="lg"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/company/######">
                        <fa-icon [icon]="['fab', 'linkedin-in']" [fixedWidth]="true" size="lg"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pap-copyright">2019 © PAPERLABS SAS</div>

</div>
