body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

a {
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #f5f8fa;
}

.footer .footer-about,
.footer .footer-contact,
.footer .footer-links,
.footer .footer-project {
  position: relative;
  margin-bottom: 45px;
  color: #69719b;
}

.footer .footer-about h3,
.footer .footer-contact h3,
.footer .footer-links h3,
.footer .footer-project h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #071a81;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
}

.footer .footer-social a {
  text-align: center;
  color: #69719b;
  font-size: 14px;
  border: 1px solid #69719b;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 6px 0;
  border-radius: 35px;
}

.footer .footer-social a:hover {
  color: #ffffff;
  background: #0085ff;
  border-color: #0085ff;
}
.footer .footer-contact p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #69719b;
}

.footer .footer-contact i {
  margin-right: 10px;
  font-size: 16px;
  color: #69719b;
}

.footer .footer-contact a:last-child i {
  margin: 0;
}

.footer .footer-contact a:hover i {
  color: #0085ff;
}
.footer .footer-links a {
  margin-bottom: 6px;
  padding-left: 15px;
  color: #69719b;
  display: block;
}

.footer .footer-links a:last-child {
  margin: 0;
}

.footer .footer-links a:hover {
  color: #0085ff;
}

.footer .footer-project {
  float: left;
  font-size: 0;
}

.footer .footer-project a {
  padding: 0 8px 8px 0;
  display: block;
  width: 33.33%;
  float: left;
}

.footer .footer-project a img {
  width: 100%;
}
.footer .copyright {
  position: relative;
  padding: 25px 0;
  background: #000000;
}

.footer .copyright {
  position: relative;
  padding: 25px 0;
  background: #d6d9dc;
}

.footer .copyright .copy-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #69719b;
}

.footer .copyright .copy-text p a {
  color: #1400c3;
  text-decoration: none;
}

.footer .copyright .copy-text p a:hover {
  color: #4fffb5;
}

.parg {
  font-family: 'calibri';
  font-weight: 500;
}

span {
  content: '\2706', '\2709';
}
