#menu,
#contenu {
  padding: 1px 0;
}

#main {
  margin: auto;
}
#menu {
  float: right;
}
#contenu {
  position: static;
  margin: 0% 25%;
  margin-top: -2%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 38%);
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  width: inherit;
}
/*    #menul  {
      float:left;
      width:240px;
      background-color:#FF3366;
      } */

table,
td {
  border-bottom: 1px dashed #051259;
}

th {
  background-color: #dddff1;
  font-size: 18px;
  color: #051259;
}
.table-sarl {
  position: static;
  width: 100%;
  padding: 0% 1%;
  letter-spacing: 0.2px;
  font-family: 'Calibri';
  font-weight: normal;

  //border: 1px  solid #dddff1;
}
.contract:hover {
  background-color: #f5f8fa;
}

.contract {
  cursor: pointer;
  display: flex;
  width: auto;
}

.maintitle {
  margin-top: 1%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  font-size: 30px;
  line-height: 22px;
  font-weight: 600;
  font-family: 'Calibri';
  color: #1700af;
  text-align: left;
  letter-spacing: -0.5px;
}

.text-span-7 {
  box-shadow: inset 0 -20px 0 0 #4fffb5;
}
.text-span-5 {
  color: #4fffb5;
}

.all-tab-sarl {
  //line-height: 27px;
  font-size: 16px;
  color: #051259;
  //border: 1px  solid #dddff1;
}

.image-left {
  position: fixed;
  right: 5%;
  top: 50%;
}

.titre-1 {
  font-size: 22px;
  font-weight: 700;
  cursor: context-menu;
}

.titre-2 {
  font-size: 17px;
  font-weight: 600;
  cursor: context-menu;
}

.colmn-left {
  //width: 68%;
  width: 99%;
  line-height: 3.6;
}
.colmn-right {
  padding-left: 15%;
  width: auto;
  display: none;
}
.search {
  padding: 1%;
}
.img-contract {
  width: 40px;
  height: 40px;
}

.button-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  background: url('../../../content/images/go-to-top.png') no-repeat;
  color: #000;
  text-decoration: none;
  z-index: 700;
}
.button-top {
  bottom: -1rem;
  right: -1rem;
  transform: scale(0.7);
}
