<div id="content" class="site-content">
    <div id="primary">
    <main id="main" class="site-main">       
        <article id="post-50988" class="post-50988 page type-page status-publish hentry">
     
        <div class="entry-content">
            <section class="vc_section lp_section"><div class=" vc_row wpb_row vc_row-fluid lp_text_wrapper"><div class="lp_navigation lp_desktop_only lp_sidebar fixed_sidebar wpb_column vc_column_container vc_col-lg-4 vc_col-has-fill"><div class="vc_column-inner vc_custom_1591906669320" style="padding-top:60%;"><div class="vc_custom_1585841273745 wpb_wrapper" style="padding-left: 0px;padding-right: 120px;margin-left: 120px;margin-top: -15%;height: 100%; background: #FBFCFD;">
            <div class="vc_custom_1585841273745"><h4 style="color: #6b757f; font-size: 15px;text-align: left;line-height: 1em;height: 25px;font-family:'Calibri';">Nos Documents</div>
            <div class="title-scroll">Droit Des Sociétés</div>
                <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;font-size:18px;line-height: 14px;font-family:'Calibri';">
                    <a href="/user/documents#sarl" target=""title=""class=""><span>SARL</span></a>
                    
                </div>
                <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;font-size: 16px;line-height: 14px;font-family:  'Calibri';">
                    <a href="/user/documents#suarl" target=""title=""class=""><span>SUARL</span></a>
                <!--     <style>
                        .creativelink60acba0ba5cb3 {
                        color: #051259 !important;
                        font-size: 14;
                        }
     
                        .creativelink60acba0ba5cb3 > i {
                                            }
     
                        .creativelink60acba0ba5cb3:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba5cb3:hover > i {
                                            }
                    </style> -->
                </div>
                            
                
            <div class="title-scroll">Droit Immobilier</div>
            <div class=" vc_custom_1585841273745 mega-creative-btn" style="text-align: left;">
                <a href="/user/documents#baux" target=""title=""class="creativelink60acba0ba5de4"><span style="font-size: 16px;line-height: 14px;font-family: 'Calibri';">Baux</span></a>
                   <!--  <style>
                        .creativelink60acba0ba5de4 {
                        color: #051259 !important;
                        font-size: 14;
                        }
     
                        .creativelink60acba0ba5de4 > i {
                                            }
     
                        .creativelink60acba0ba5de4:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba5de4:hover > i {
                                            }
                    </style> -->
            </div>
                            
                
            <div class="title-scroll">Droit Commercial</div>
            <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;">
                <a href="/user/documents#Contrat-de-cession" target=""title=""class="creativelink60acba0ba5eb5"><span style="font-size: 16px;line-height: 14px;font-family: 'Calibri';">Contrat De Cession</span></a>
                   <!--  <style>
                        .creativelink60acba0ba5eb5 {
                        color: #051259 !important;
                    font-size: 14;
                        }
     
                        .creativelink60acba0ba5eb5 > i {
                                            }
     
                        .creativelink60acba0ba5eb5:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba5eb5:hover > i {
                                            }
                    </style> -->
                    </div>
                    <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;">
                        <a href="/user/documents#Contrats-commerciaux" target=""title=""class="creativelink60acba0ba5f03">
                        <span style="font-size: 16px;line-height: 14px;font-family: 'Calibri';">Contrats Commerciaux</span>
                        </a>
                        <!--  <style>
                        .creativelink60acba0ba5f03 {
                        color: #051259 !important;
                        font-size: 14;
                        }
     
                        .creativelink60acba0ba5f03 > i {
                                            }
     
                        .creativelink60acba0ba5f03:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba5f03:hover > i {
                                            }
                        </style> -->
                    </div>
                            <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;">
                    <a href="/user/documents#Les-garanties" target=""title=""class="creativelink60acba0ba5f4f">
                        <span style="font-size: 16px;line-height: 14px;font-family:'Calibri';">Les Garanties</span></a>
                   <!--  <style>
                        .creativelink60acba0ba5f4f {
                        color: #051259 !important;
                    font-size: 14;
                        }
     
                        .creativelink60acba0ba5f4f > i {
                                            }
     
                        .creativelink60acba0ba5f4f:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba5f4f:hover > i {
                                            }
                    </style> -->
                        </div>
                            <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;">
                    <a href="/user/documents#Reconnaissance-de-dette" target=""title=""class="creativelink60acba0ba5f9a">
                        <span style="font-size: 16px;line-height: 14px;font-family:'Calibri';">Reconnaissance De Dette</span>
                    </a>
                   <!--  <style>
                        .creativelink60acba0ba5f9a {
                        color: #051259 !important;
                    font-size: 14;
                        }
     
                        .creativelink60acba0ba5f9a > i {
                                            }
     
                        .creativelink60acba0ba5f9a:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba5f9a:hover > i {
                                            }
                    </style> -->
                     </div>
                            <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;">
                    <a href="/user/documents#Concession-de-dette" target=""title=""class="creativelink60acba0ba5fe5">
                        <span style="font-size: 16px;line-height: 14px;font-family:'Calibri';">Concession De Dette</span>
                    </a>
                    <!-- <style>
                        .creativelink60acba0ba5fe5 {
                        color: #051259 !important;
                    font-size: 14;
                        }
     
                        .creativelink60acba0ba5fe5 > i {
                                            }
     
                        .creativelink60acba0ba5fe5:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba5fe5:hover > i {
                                            }
                    </style> -->
                    </div>
                
                    <div class="title-scroll">Droit Social</div>
     
                    <div class=" vc_custom_1585841273745 mega-creative-btn"style="text-align: left;">
                    <a href="/user/documents#Droit-de-travail" target=""title=""class="creativelink60acba0ba6063">
                        <span style="font-size: 16px;line-height: 14px;font-family:'Calibri';">Droit De Travail</span></a>
                   <!--  <style>
                        .creativelink60acba0ba6063 {
                        color: #051259 !important;
                    font-size: 14;
                        }
     
                        .creativelink60acba0ba6063 > i {
                                            }
     
                        .creativelink60acba0ba6063:hover {
                        color: #3392ff !important;
                        }
     
                        .creativelink60acba0ba6063:hover > i {
                                            }
                    </style> -->
                </div>
                            
                </div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div  class="vc_wp_text wpb_content_element"><div class="widget widget_text"><div class="textwidget"><h1 class="title-page"><span class="title-dot"style="color: #051259;">Nos Documents</span></h1>
     </div>
          </div></div>
       <div class="wpb_text_column wpb_content_element  vc_custom_1615886058841"style="padding-left: 32%;margin-right: 12%; " >
          <div id="sarl" class="wpb_wrapper">
            
     <h2  class="title">Droit Des Sociétés</h2>
     <div class="text-title">
     <div class="text-title">Documents</div>
     <div class="tab-column-right text-title">Prix</div>
     </div>
     
        <div id="" class="sarl-suarl" ><h5>Constitution</h5></div>
 
        <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('FORMULAIRE STATUS')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
         </div>
 
 
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('pv sarl nommination nouveau gérant statutaire')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('pv révocation de gérant et nommination nouveau gérant statutaire')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('ago sarl pv constatation décés  de gérant et nommination nouveau gérant')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO SARL PV renouvellement du mandat du gérant')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('pv révocation 1')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('pv démission de gérant 2')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
              + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('pv révocation de gérant et nommination nouveau gérant statutaire')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
         </div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>

 
         <div class="sarl-suarl"><h5>Comptes Annuels</h5></div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation report à nouveau 1')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Aapp bénéficiaire')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation 2')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
 
 
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation des états Financiers avec Resultat déficitaire avec report nouveau avec distribution des dividendes')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation 3')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation 4')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
              + frais administratifs</div>
         </div>
 
 
        <div class="sarl-suarl"><h5>Gérance</h5></div>
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('nom ger SARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
        <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('ren ger SARL sat')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
        <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('const SARL')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
            </div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                 + frais administratifs</div>
            </div>
            <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO SARL PV renouvellement du mandat CAC')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
            </div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                 + frais administratifs</div>
            </div>
            <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO SARL PV constatation du décés CAC et nommination du nouveau CAC')" [routerLink]="['legal-document-description/', legalDocument.id]" ><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div>
            </div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                    + frais administratifs</div>
            </div>
        <!-- <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('ren ger SARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><a (click)="collapseNavbar()">{{legalDocument.shortName}}</a></div></div>
        </div> -->
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('dem ger SARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
        <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
        <div id="suarl" class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('dec ger SARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
        <div    class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        
        <!-- 
        <div class="tab">
        <div class="tab-column-left"><h4><a href="">Comptes annuels</a></h4>
        </div>
        </div> -->
        <div class="">
            <div  class="sarl-suarl"><h5>Modifications Statutaires </h5>
            </div>
        </div>

        <div class="tab">
        <div  class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Pv Age Changement De Denomination')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
        <div  class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Pv Age Transfert Du Siege')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
        <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
        </div>

        <div class="">
        <div  class="sarl-suarl"><h5>Capital</h5>
        </div>
        </div>
        <div class="tab">
        <div  class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('cap SARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
        <div  class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Proces verbal augmentataion de capital par conversion de créance')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat"  (click)="collapseNavbar()">{{legalDocument.shortName}} </div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
 
 
 
   
 
        <div class="">
         <div class="sarl-suarl"><h5>Constitution</div></h5>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('const SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO SUARL PV renouvellement du mandat du CAC')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
             <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO  nouveau CAC')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
             <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
 
        <div class="">
        <div class=""><h5>Gérance</div></h5>
        </div>
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('nom1 ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
             <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGE dec ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
             <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
             <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO SUARL PV démission statutaire')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                 <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                 + frais administratifs</div>
         </div>
         <div class="tab">
             <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO dec ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                 <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                 + frais administratifs</div>
         </div>
    
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('nom2 ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('ren1 ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('ren2 ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('rev1 ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
        </div>
    
        <div id="baux" class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('rev2 ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('dem ger SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
 
        <div class="">
         <div class=""><h5>Modifications Statutaires</div></h5>
         </div>
         <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('transfert siège SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div>
         <div class="tab">
             <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('dénomination SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
             <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                 + frais administratifs</div>
             </div>
         <div class="">
             <div class=""><h5>Comptes Annuels </div></h5>
             </div>
             <div class="tab">
             <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation1 SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
             <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                 + frais administratifs</div>
             </div>
         
        <div class="tab">
         <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation2 SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
             <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
             + frais administratifs</div>
         </div> 
         <div class="tab">
             <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation3 SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                 <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                 + frais administratifs</div>
             </div> 
             <div class="tab">
                 <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation4 SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                     <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                     + frais administratifs</div>
                 </div> 
                 <div class="tab">
                     <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation5 SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                         <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                         + frais administratifs</div>
                     </div> 

                     <div class="tab">
                        <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGO Approbation6 SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                            + frais administratifs</div>
                        </div>
                        
                <div class="">
                    <div class=""><h5>Comptes Annuels </div></h5>
                 </div>
                <div class="tab">
                    <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGE augmentation en numéraire SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                        <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                        + frais administratifs</div>
                </div>
                <div class="tab">
                    <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('AGE augmentation par conversion de créance SUARL')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
                        <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
                        + frais administratifs</div>
                </div>
    
        <h2 class="title">Droit Immobilier</h2>
         <div>
            <h5  class="">Baux</h5>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Contrat Bail Commercial gérer baux')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Contrat de sous-location gérer baux')" [routerLink]="['legal-document-description/', legalDocument.id]"><div  class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Quitance de loyer gérer baux')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <div  id="Contrat-de-cession" class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Contrat de Bail gérer baux')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <h2 id="Contrats-commerciaux" class="title">Droit Commercial</h2>
        <h5  class="">Contrat De Cession</h5>
    
        <div  class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Contrat Cession Creance comm')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <h5  class="">Contrats Commerciaux</h5>
    
        <div  id="Les-garanties" class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('comm agent')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Contrat prestation service comm')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
     
        <h5 class=""><a href="">Les Garanties </a></h5>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Caution solidaire comm')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('comm gage')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('comm nan1')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('comm nan2')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('comm nan3')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div id="Reconnaissance-de-dette" class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('comm nan4')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('comm nan5')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
    
        <h5  class="">Reconnaissance De Dette</h5>
    
        <div  id="Concession-de-dette" class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Reconnaissance de dette comm')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
    
        <h5 id="Droit-de-travail" class="">Concession De Dette</h5>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Concession de dette comm')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
        <h2 class="title">Droit Social</h2>
        <h5  class="">droit De Travail</h5>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('droit de travail cdd')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('droit de travail cdi')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('droit de travail sivp')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('SOLDE DE TOUT COMPTE créer droit de travail')" [routerLink]="['legal-document-description/', legalDocument.id]"><div  class="contrat"(click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('droit de travail resil')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
        <div class="tab">
            <div class="tab-column-left"><div *ngFor="let legalDocument of filterByKeyword('Demission créer droit de travail')" [routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></div></div>
            <div class="tab-column-right tab-column-right-text">À partir de 69DT<br/>
            + frais administratifs</div>
        </div>
    
     </div>
    
     
     
          </div>
       </div>
     </div></div></div></div></section>
        </div><!-- .entry-content -->
     
        </article><!-- #post-50988 -->
     
            </main><!-- #main -->
        </div><!-- #primary -->
     
     </div>