/* Rules 



or sizing the icon. */
.material-icons.md-20 {
  font-size: 20px;
}
.material-icons.md-22 {
  font-size: 22px;
}
.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  vertical-align: -webkit-baseline-middle;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Rules for coloring the icon. */
.material-icons.gray {
  color: #7f7f7f;
}

::ng-deep .md-13 {
  font-size: 13px;
}

.text-descriptive {
  font-size: 13px;
  font-style: italic;
  padding-left: 10px;
  border-left: 2px solid gray;
  margin-bottom: 10px;
}

.input-margin {
  // margin-top: 10px;
  width: auto;
}

.col-form-label {
  width: auto;
  // padding-left: 5px !important;
  padding-top: 0;
}

/* 
.help{
  margin-left: 91.95%
}
 */

/* .form-group > span:first-child{
  border: 2px solid black;
}

.test > span:first-child{
  border: 2px solid red;

} */

.pl-5 {
  padding-left: 0;
}

$width: 39px;
$height: 17px;
.toggle-container {
  display: inline-block;
  width: $width;
  height: $height;
  border: 1px solid #bfbebe;
  border-radius: 9px;
  position: relative;
  cursor: pointer;
  background-color: #e8e8e8;
  transition: border-color 300ms;
  //  margin: 4px;
  .real-checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    & + .toggle-button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 30px;
      transition: all 300ms;
      &::before {
        content: '';
        cursor: pointer;
        display: inline-block;
        width: $height;
        height: $height;
        background-color: white;
        border-radius: 50%;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        transition: all 300ms ease-in-out;
      }
    }
    &:checked + .toggle-button {
      background-color: #0f62e3;
      &::before {
        margin-left: $height;
        background-color: #00009e;
        width: 17px;
        height: 17px;
      }
    }
  }
}

.chek-input {
  font-weight: 600;
}
