
    .test {
      background-color: white;
      width: 150%;
      padding: 50px;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      }
    
  
  
  .title{
    margin-left: 30%;
  }
  strong{
    font-weight: 600;
   }
   .soussigne{
  
    text-align: right;
    font-weight: 600;
  }
  td{
  
 
    width: 30%
  }