<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
                <h1 class="faq">FAQ</h1>

                <div class=" group-all group-faq">

                <h4 class="tit-faq">Que propose paperlabs?</h4>
                <p class="parag-faq">Paperlabs propose aux utilisateurs de créer et personnaliser leurs documents juridiques en
                   ligne, et ce, via un formulaire de remplissage dynamique et rapide. 
                </p>
                <p class="parag-faq">Il suffit simplement de choisir le document souhaité, puis de remplir ce dernier en répondant à
                   des questions et remplir les différents champs. Enfin, après paiement ou souscription à une
                   offre d’abonnement, le document est envoyé en PDF ou en WORD. </p>
                <h4 class="tit-faq">Qui rédige les documents proposés par paperlabs?</h4>
                <p class="parag-faq">
                    Tous les documents juridiques proposés par Paperlabs sont préparés par des avocats
                    expérimentés, qui interviennent régulièrement dans le domaine des documents générés.
                </p>
                <h4 class="tit-faq">De quelle manière créer un document juridique?</h4>
                <p class="parag-faq">
                    La création de chaque document se fait sur plusieurs étapes en répondant aux questions proposées et
                    en remplissant les différents champs à compléter. L’utilisateur peut à tout moment consulter
                    l’avancement de son document afin d‘avoir un aperçu.
                </p>
                <h4 class="tit-faq">Tous les champs du formulaire doivent être remplis?</h4>
                <p class="parag-faq">
                    Il n’est pas nécessaire de remplir l’intégralité des questions pour générer son document et l’acheter.
                    Néanmoins, pour obtenir un document personnalisé et finalisé, il est nécessaire de répondre à
                    ces questions. Dans le cas où certains champs ne seraient pas remplis,
                    des options seront automatiquement sélectionnées, qui ne correspondraient peut-être
                    pas avec les attentes de l’utilisateur. 
                </p>
            </div>
            </div>
        </div>
    </div>
</div>


