 <!-- Start Team -->
 <section id="team" class=" card-overview p-top-80 p-bottom-50">
    <div class="container">

        <div class="row title">
            <div class="col-md-8 col-md-offset-2">
                <!-- Section Title -->
                <div class="section-title text-center m-bottom-40">
                    <div class="tit wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">NOTRE EQUIPE</div>
                    <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                    <p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><em>Contratou a été fondée en 2019 par une équipe d’ingénieurs et de juristes.</em></p>
                </div>
            </div> <!-- /.col -->
        </div>  <!-- /.row -->

        <div class=" section row">

            <!-- === Team Item 1 === -->               
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-30">
                <div class="team-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.9s">
                    <div class="team-item-image">
                        <div class="team-item-image-overlay">
                            <div class="team-item-icons">
                           <i class="work">Avocat-Associé</i> <br>
                           <i>Email o.ferchiou@falaw.tn</i><br>
                           <i>Tel +216 71 120 500</i>
                            </div>
                        </div>
                        <img src="../../../content/images/1.jpg" alt="" />
                    </div>
                    <div class="team-item-info">
                        <div class="team-item-name">
                            Omar Ferchiou
                        </div>
                        <div class="team-item-position">
                            CEO,Cofondateur 
                        </div>
                    </div>
                </div>
            </div> <!-- /.col -->
            
            <!-- === Team Item 2 === -->              
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-30">
                <div class="team-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.9s">
                    <div class="team-item-image">
                        <div class="team-item-image-overlay">
                            <div class="team-item-icons">
                                <i class="work">Lorem Ipsum</i> <br>
                                <i>Lorem Ipsum Ipsum</i><br>
                                <i>Lorem Ipsum Ipsum</i>
                            </div>
                        </div>
                        <img src="../../../content/images/1.jpg" alt="" />
                    </div>
                    <div class="team-item-info">
                        <div class="team-item-name">
                            Kais Ferchiou
                        </div>
                        <div class="team-item-position">
                            Cofondateur Manager
                        </div>
                    </div>
                </div>
            </div> <!-- /.col -->
            
            <!-- === Team Item 3 === -->               
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-30">
                <div class="team-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.9s">
                    <div class="team-item-image">
                        <div class="team-item-image-overlay">
                            <div class="team-item-icons">
                                <i class="work">Lorem Ipsum</i> <br>
                                <i>Lorem Ipsum Ipsum</i><br>
                                <i>Lorem Ipsum Ipsum</i>
                            </div>
                        </div>
                        <img src="../../../content/images/1.jpg" alt="" />
                    </div>
                    <div class="team-item-info">
                        <div class="team-item-name">
                            Sami Nakouri 
                        </div>
                        <div class="team-item-position">
                            CTO,Cofondateur 
                        </div>
                    </div>
                </div>
            </div> <!-- /.col -->
            
            <!-- === Team Item 4 === -->               
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-30">
                <div class="team-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.9s">
                    <div class="team-item-image">
                        <div class="team-item-image-overlay">
                            <div class="team-item-icons">
                                <i class="work">Lorem Ipsum</i> <br>
                                <i>Lorem Ipsum Ipsum</i><br>
                                <i>Lorem Ipsum Ipsum</i>
                            </div>
                        </div>
                        <img src="../../../content/images/1.jpg" alt="" />
                    </div> <!-- /.team-item-image -->
                    <div class="team-item-info">
                        <div class="team-item-name">
                            Dali Belaajouza
                        </div>
                        <div class="team-item-position">
                            Cofondateur
                        </div>
                    </div> <!-- /.team-item-info -->
                </div> <!-- /.team-item -->
            </div> <!-- /.col -->

        </div> <!-- /.row -->

    </div> <!-- /.container -->
</section>
<!-- End Team -->