<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
                <h1>Équipe</h1>

                <p class="lead"></p>
                <h4>Team 1</h4>
                <p>
                    Donec viverra fermentum egestas. Integer sed turpis ac libero fringilla scelerisque. Nunc tincidunt tellus vitae eleifend luctus. Donec vulputate enim mollis mauris ornare volutpat. Proin accumsan neque eu ipsum efficitur commodo. Vivamus neque ipsum, convallis ac felis sit amet, pellentesque iaculis ante. Nullam consequat venenatis quam vel ornare. Nulla dignissim eros eu arcu efficitur malesuada. Suspendisse mauris sapien, ultricies ut pellentesque quis, gravida at neque. Mauris venenatis purus viverra feugiat aliquam. Sed id nibh placerat risus convallis varius eleifend a arcu. Etiam mattis eros odio, eu bibendum purus mollis ac. Nulla mattis tortor eu odio ultrices, vel pellentesque sem sollicitudin. Ut viverra mi nec risus fermentum, id gravida nunc ultrices. Ut iaculis cursus vehicula.                </p>

                <p>
                    Nullam in vehicula arcu, nec viverra mauris. Suspendisse augue nisi, semper porttitor dignissim et, sollicitudin aliquam eros. Nullam interdum quam lacus, ac bibendum elit sollicitudin eget. Duis aliquam sollicitudin pretium. Donec nisi tortor, cursus nec neque et, pellentesque porta turpis. Morbi et risus ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vitae lorem sit amet magna rutrum molestie id egestas lectus. Morbi velit lorem, imperdiet a tortor non, ullamcorper laoreet lacus. Mauris vitae molestie mi. Proin mattis ornare risus, in egestas tortor laoreet at.
                </p>
                <h4>Team 2</h4>
                <p>
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                </p>
                <h4>Team 3</h4>
                <p>
                Nunc pretium metus id ullamcorper mattis. Pellentesque vitae ornare magna, ac gravida odio. Pellentesque mattis erat augue, eget suscipit felis tempor et. Nam commodo fermentum dolor eget aliquet. Donec fermentum, enim eget molestie lacinia, odio nisl malesuada diam, sed porta augue justo nec risus. Curabitur pellentesque urna ac orci maximus ornare. Nullam dapibus turpis nibh, eu fermentum libero rutrum in. Donec at magna nisl. Nulla fringilla nec sem fringilla efficitur.
                </p>
            </div>
        </div>
    </div>
</div>


