<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
                <h1 class="pol-conf">Politique de confidentialité</h1>
                <div class=" group-legal group-conf">
                <p class="parag-conf">Soucieux du respect de la vie privée de ses utilisateurs,<span class="paperabs">Contratou</span> (ci-après désigné le «Site») s’engage à leur assurer la protection de leurs données personnelles. </p>
                <p class="parag-conf">Par conséquent, aucune donnée transmise par l’intermédiaire de notre Site ne pourra être consultée par un tiers non autorisé. <span class="paperabs">Contratou</span> prend toutes les précautions utiles pour préserver la sécurité de ces données et notamment, empêcher qu’elles soient déformées ou endommagées. </p>        
                <p class="parag-conf"><span class="paperabs">Contratou</span> traite l’ensemble des données de ses utilisateurs conformément à la présente politique de confidentialité.</p>                         
                

                <h4 class="tit-conf">Définitions</h4>
                <p class="parag-conf">-  Donnée Personnelle : toute information quelle que soit son origine ou sa forme et qui permet directement ou indirectement d’identifier une personne physique ou la rendre identifiable. </p>

                <p class="parag-conf">-  Utilisateur : toute personne physique majeure capable, ou toute personne morale, utilisant les services qui sont proposés sur le Site <span class="paperabs">Contratou</span>, pouvant être soit un particulier, soit un
                professionnel.
                </p>
                <h4 class="tit-conf">Collecte et diffusion des données personnelles</h4>

                <p class="parag-conf">

                    <span class="paperabs">Contratou</span> est susceptible de collecter des données personnelles liées à l’utilisateur notamment lors: <br><br>

                    - De la navigation sur le site, <br>

                    - De la création d’un compte,<br>

                    - De la création d’un document, <br>

                    - Du paiement d’un service,<br>

                    - D’une demande de renseignement ou de prise de contact, <br>

                    - De la rédaction d’un commentaire. <br><br>
                </p>  
                <p class="parag-conf"> 
                    Les informations susceptibles d’être collectées par <span class="paperabs">Contratou</span> sont celles ayant trait à l'identité de l’Utilisateur, à ses coordonnées postales et/ou électroniques, à un numéro de carte bancaire ou encore à des données de connexion. 
                </p> 
                <p class="parag-conf">
                    Toutes les données à caractère personnel recueillies par <span class="paperabs">Contratou</span> sont obligatoires et nécessaires pour bénéficier des services proposés par <span class="paperabs">Contratou</span>. Chaque donnée collectée par <span class="paperabs">Contratou</span> est en accord avec la ou les finalités poursuivies. 
                </p>
                <p class="parag-conf">
                    L’ensemble des Données Personnelles ainsi recueillies par <span class="paperabs">Contratou</span> peuvent être transmises à des prestataires extérieurs afin d’assurer le bon fonctionnement des services, notamment le traitement effectif du paiement. Lors d’un paiement en ligne, toutes les Données Personnelles transmises sont protégées.
                </p>
                <p class="parag-conf">
                    <span class="paperabs">Contratou</span> s’engage à respecter la règlementation tunisienne relative au traitement des Données Personnelles notamment, la loi organique n° 2004-63 du 27 juillet 2004 portant sur la protection des données à caractère personnel et la loi n° 2000-83 du 9 août 2000, relative aux échanges et au commerce électroniques.
                </p>
              
                <h4 class="tit-conf">Conservation des données personnelles</h4>
                <p class="parag-conf">
                    <p class="parag-conf"> Les Données Personnelles de l’Utilisateur sont conservées jusqu’à leur suppression à la demande de l’Utilisateur ou par  <span class="paperabs">Contratou</span>. </p>

                    <p class="parag-conf"> <span class="paperabs">Contratou</span> conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture conformément aux dispositions du Code de commerce relatives à la durée de conservation des livres et documents créés à l'occasion d'activités commerciales en l’occurrence dix ans.
                    </p>
                </p>
  
                <h5 class="tit-conf">Droit d’accès et de suppression des Données Personnelles par l’Utilisateur</h5>
                <p class="parag-conf">L’Utilisateur dispose d'un droit d'accès aux informations collectées par <span class="paperabs">Contratou</span> : <br>

                    l’Utilisateur peut demander à tout moment la modification, la rectification ainsi que la suppression de ses données. Pour exercer ce droit, il reviendra à l’Utilisateur d'envoyer un message à l'adresse suivante : <span class="bold">sav@contratou.tn</span> .</p>
                <h4 class="tit-conf">Utilisation de cookies </h4>
                <p class="parag-conf"><span class="paperabs">Contratou</span> informe l’Utilisateur qu’elle peut être amenée à utiliser des cookies. Ce dernier accepte expressément l’utilisation des cookies en poursuivant sa navigation sur le Site.</p>

                <p class="parag-conf">Un cookie est un fichier texte susceptible d’être enregistré dans un terminal lors de la consultation d’un service en ligne avec un logiciel de navigation. Un fichier cookie permet à son émetteur, pendant sa durée de validité, de reconnaître le terminal concerné à chaque fois que ce terminal accède à un contenu numérique comportant des cookies du même émetteur.</p>
                <p class="parag-conf">Les cookies émis par <span class="paperabs">Contratou</span> nous permettent : <br> <br>
                    -   D’établir des statistiques et volumes de fréquentation et d'utilisation des divers éléments composant notre Site, nous permettant d'améliorer la configuration, l'intérêt, le design et l'ergonomie de nos services. <br> <br>
                    -	D’adapter la présentation de notre Site aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc) lors des visites des Utilisateurs sur notre Site, selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte. <br><br>
                    -	De mémoriser des informations relatives à des produits, services ou informations que l’Utilisateur a choisis sur notre Site (contenu d'un panier de commande, etc.).
                </p>
                <p class="parag-conf">L’Utilisateur peut à tout moment configurer son logiciel de navigation de manière que des cookies soient enregistrés dans son terminal ou, au contraire, qu'ils soient rejetés (soit systématiquement, soit selon leur émetteur). L’Utilisateur peut également configurer son logiciel de navigation pour que l'acceptation ou le refus des cookies soient proposés ponctuellement, avant qu'un cookie puisse être enregistré dans son terminal. </p>
                <p class="parag-conf"><span class="bold">Attention : </span> tout paramétrage est susceptible de modifier sa navigation sur Internet et ses conditions d'accès à certains services nécessitant l'utilisation de cookies. </p>
                <p class="parag-conf">Pour la gestion des cookies et de leurs choix, la configuration de chaque navigateur (Internet Explorer, Firefox, Safari, Google Chrome, etc…) est différente. Elle est décrite dans le menu d'aide du navigateur utilisé, qui permettra à l’Utilisateur de savoir de quelle manière modifier leurs souhaits en matière de cookies. Ci-dessous des informations concernant les principaux navigateurs. </p>

             
    </div>
    </div>
    </div>
    </div>
</div>