<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
                <h1>Politique de confidentialité</h1>
                <p>Soucieux du respect de la vie privée de ses utilisateurs, Paperlabs s’engage à assurer la protection des données personnelles de ses Utilisateurs. </p>
                <p>Par conséquent, aucune donnée transmise par l’intermédiaire de notre site ne pourra être consultée par un tiers non autorisé. Paperlabs prend toutes les précautions utiles pour préserver la sécurité de ces données et notamment, empêcher qu’elles soient déformées ou endommagées. </p>        
                <p>Paperlabs traite l’ensemble des données de ses Utilisateurs conformément à la présente politique de confidentialité</p>                         
                <p class="lead"></p>

                <h4>I. Définitions</h4>
                <p>-?Donnée Personnelle?: toute information quelle que soit son origine ou sa forme et qui permet
                    directement ou indirectement d’identifier une personne physique ou la rend identifiable. </p>

                <p></p> -?Utilisateur?: toute personne physique majeure capable, ou toute personne morale, utilisant les
                services qui sont proposés sur le site Paperlabs, pouvant être soit un particulier, soit un
                professionnel.
                </p>
                <h4>II. Collecte et diffusion des données personnelles</h4>

                <p>

                    Paperlabs?est susceptible?de collecter des Données Personnelles?liées à l’Utilisateur?notamment lors
                    :

                    - de la navigation sur le site

                    - de la création d’un compte

                    - de la création d’un document

                    - du paiement d’un service

                    - d’une demande de renseignement ou de prise de contact

                    - de la rédaction d’un commentaire

                    Les informations susceptibles d’être collectées par Paperlabs sont celles ayant trait à l'identité
                    de l’Utilisateur, à ses coordonnées postales et/ou électroniques, à un numéro de carte bancaire ou
                    encore à des données de connexion.

                    Toutes les données à caractère personnel recueillies par Paperlabs sont obligatoires et nécessaires
                    pour bénéficier des services proposés par Paperlabs. Chaque donnée collectée par Paperlabs est en
                    accord avec la ou les finalités poursuivies.

                    L’ensemble des Données Personnelles ainsi recueillies par Paperlabs peuvent être transmises à des
                    prestataires extérieurs afin d’assurer le bon fonctionnement des services, notamment le traitement
                    effectif du paiement. Lors d’un paiement en ligne, toutes les Données Personnelles transmises sont
                    protégées.

                    Paperlabs s’engage à respecter la règlementation tunisienne relative au traitement des Données
                    Personnelles notamment, la loi organique n° 2004-63 du 27 juillet 2004 portant sur la protection des
                    données à caractère personnel et la loi n° 2000-83 du 9 août 2000, relative aux échanges et au
                    commerce électroniques.
                </p>
                <h4>III. Conservation des données personnelles</h4>
                <p>Proin tempor odio in mi lobortis, eget vestibulum lacus commodo. Proin gravida commodo efficitur.
                    Mauris pharetra leo odio. Proin ornare at mi sed venenatis. Sed at lorem non magna malesuada
                    vehicula.
                    Fusce malesuada a ante eget ullamcorper. Proin quis congue diam. Maecenas pharetra non lorem sit
                    amet suscipit. Aliquam ornare lobortis metus, auctor fringilla est. Pellentesque tincidunt
                    magna erat, ut vestibulum libero malesuada quis.
                </p>
                <h4>III. Conservation des données personnelles</h4>
                <p>
                    <p> Les Données Personnelles de l’Utilisateur sont conservées jusqu’à leur suppression à la demande
                        de l’Utilisateur ou par Paperlabs. </p>

                    <p> Paperlabs conservera dans ses systèmes informatiques et dans des conditions raisonnables de
                        sécurité une preuve de la transaction comprenant le bon de commande et la facture conformément
                        aux dispositions du Code de commerce relatives à la durée de conservation des livres et
                        documents créés à l'occasion d'activités commerciales en l’occurrence dix ans.
                    </p>
                </p>
                <h4>IV. Hébergement des Données Personnelles </h4>
                <p>Le site Paperlabs.io est hébergé par Amazon web service

                    Adresse : Rue de l’euro immeuble SLIM, Les berges du lac 1053 </p>
                Téléphone:

                Le stockage des Données Personnelles des Utilisateurs est exclusivement réalisé sur les centres de
                données ("clusters") localisés dans des Etats membres de l'Union Européenne de Paperlabs DigitalOcean
                Inc.
                <h4>V. Droit d’accès et de suppression des Données Personnelles par l’Utilisateur </h4>
                <p>L’Utilisateur dispose d'un droit d'accès aux informations collectées par Paperlabs :

                    - l’Utilisateur peut demander à tout moment la modification de ses données?;

                    - l’Utilisateur peut demander à tout moment la rectification de données erronées?;

                    - l’Utilisateur peut demander à tout moment la suppression de données existantes.

                    Pour exercer ce droit, il reviendra à l’Utilisateur d'envoyer un message à l'adresse suivante :
                    hello@paperlabs.io. </p>
                <h4>VI. Utilisation de cookies </h4>
                <p>Paperlabs informe l’Utilisateur qu’elle peut être amenée à utiliser des cookies. Ce dernier accepte
                    expressément l’utilisation des cookies en poursuivant sa navigation sur le site. </p>
                <p>Un cookie est un fichier texte susceptible d’être enregistré dans un terminal lors de la consultation
                    d’un service en ligne avec un logiciel de navigation. Un fichier cookie permet à son émetteur,
                    pendant sa durée de validité, de reconnaître le terminal concerné à chaque fois que ce terminal
                    accède à un contenu numérique comportant des cookies du même émetteur. </p>
                <p>Les cookies émis par Paperlabs nous permettent : </p>
                <p>d'établir des statistiques et volumes de fréquentation et d'utilisation des diverses éléments
                    composant notre Site, nous permettant d'améliorer la configuration, l'intérêt, le design et
                    l'ergonomie de nos services </p>
                <p>d'adapter la présentation de notre site aux préférences d'affichage de votre terminal (langue
                    utilisée, résolution d'affichage, système d'exploitation utilisé, etc) lors de vos visites sur notre
                    site, selon les matériels et les logiciels de visualisation ou de lecture que votre terminal
                    comporte </p>
                <p>de mémoriser des informations relatives à des produits, services ou informations que vous avez
                    choisis sur notre site (contenu d'un panier de commande, etc.) </p>
                <p>Vous pouvez à tout moment configurer votre logiciel de navigation de manière à ce que des cookies
                    soient enregistrés dans votre terminal ou, au contraire, qu'ils soient rejetés (soit
                    systématiquement, soit selon leur émetteur). Vous pouvez également configurer votre logiciel de
                    navigation de manière à ce que l'acceptation ou le refus des cookies vous soient proposés
                    ponctuellement, avant qu'un cookie puisse être enregistré dans votre terminal. </p>
                <p>Attention : tout paramétrage est susceptible de modifier votre navigation sur Internet et vos
                    conditions d'accès à certains services nécessitant l'utilisation de cookies. </p>
               <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur (Internet Explorer, Firefox, Safari, Google Chrome) est différente. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies. Vous trouverez ci-dessous des informations concernant les principaux navigateurs. </p>
                <h4>Google Analytics </h4> 
           <p>     Paperlabs utilise les fonctions du service d’analyse web Google Analytics (Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA). Google Analytics utilise des cookies. Les informations générées par les cookies relatives à votre utilisation de notre site seront en principe transmises à un serveur de Google aux Etats-Unis et enregistrées sur ce dernier. 

                Si l’Utilisateur ne souhaite pas transmettre d'informations à Google Analytics, il a la possibilité de télécharger et d’installer ce module sur son navigateur Web. L’Utilisateur peut télécharger le module de désactivation de Google Analytics en cliquant sur ce lien :?https://tools.google.com/dlpage/gaoptout?hl=fr?. 
                
                Pour plus d’informations au sujet de la confidentialité et de la sécurité liées à Google Analytics, l’Utilisateur peut cliquer sur le lien suivant :?https://support.google.com/analytics/answer/6004245?hl=fr?. 
           </p>
            <h4>    Google AdWords Conversion-Tracking</h4>
                
            <p>  Paperlabs utilise le programme publicitaire en ligne « Google AdWords » et le suivi des conversions. Le suivi des conversions Google est un service d’analyse de Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA). 
                
                Si l’Utilisateur ne souhaite pas participer à ce suivi, il peut refuser cette utilisation en configurant son navigateur. Plus d’informations à ce sujet :?https://www.google.com/intl/fr/policies/technologies/ads/?. 
</p>
           <h4>   Remarketing </h4>
                
            <p>  Paperlabs utilise la fonction remarketing de Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; „Google“). Au moyen de cette technologie, Paperlabs peut s’adresser aux Utilisateurs du site avec des publicités basées sur leurs centres d’intérêts. Si l’Utilisateur ne souhaite pas recevoir de publicité personnalisée, il peut le configurer :?https://www.google.com/settings/u/0/ads/authenticated?hl=fr?. 
            </p> 
             <h4>Mixpanel </h4>
                <p>
                Paperlabs utilise l’outil de suivi de?www.mixpanel.com, un service d’analyse web de Mixpanel Inc. (405 Howard Street, 2nd Floor, San Francisco, CA 94105, USA). Mixpanel utilise des cookies. L’Utilisateur peut à tout moment refuser la collecte et l’enregistrement des données en désactivant la fonctionnalité de ce service à l’aide du lien suivant :?https://mixpanel.com/optout/. Dans ce cas, un cookie sera toutefois installé sur le terminal de l’Utilisateur afin de ne plus récolter de données de sa part tant que ce dernier ne supprime pas ce cookie. 
                
                Plus d’informations sur la politique de confidentialité de Mixpanel :?https://mixpanel.com/terms. 
                </p>
      <h4>                Microsoft Bing </h4>
                
             <p>  Paperlabs utilise le suivi de conversion de Microsoft (Microsoft Corporation, One Microsoft Way, Redmond, WA 98052-6399, USA). Microsoft Bing utilise des cookies. Si l’Utilisateur ne souhaite pas participer au processus de suivi, il peut configurer son navigateur en désactivant l’installation automatique de cookies. 
                
                Plus d’informations sur la politique de confidentialité de Microsoft :?https://privacy.microsoft.com/fr-fr/privacystatement?. 
             </p>
              <h4>  Facebook </h4>
                
         <p>       Paperlabs utilise le suivi Pixel de Facebook (Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA) qui permet de suivre le comportement de l’Utilisateur. 
                
                Si l’Utilisateur ne souhaite pas participer à ce suivi, il peut modifier les configurations en cliquant sur ce lien :?https://www.facebook.com/ads/website_custom_audiences/?. 
                
                Plus d’informations sur la politique de confidentialité de Facebook :?https://www.facebook.com/about/privacy/?. 
                </p>
  <h4>                Utilisation d’un système d’assistance en direct </h4>
                
           <p>     Comme système d’assistance en direct, Paperlabs utilise les fonctions de Zendesk, Inc. (Zendesk, Inc. Attn: Privacy Officer, 1019 Market Street San Francisco, CA 94103, USA). 
        </p>
                 
           
           
           
           
           
           
           
                </div>
        </div>
    </div>
</div>