$indigo: #673ab7;
.preview {
    padding: 20px;
}

strong {
    font-weight: 600;
}

.test {
    background-color: white;
    width: 150%;
    padding: 50px;
}

.title {
    margin-left: 30%;
}

.soussigne {
    text-align: right;
    font-weight: 600;
}

td {
    width: 30%
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
}

::ng-deep .modal-content {
    width: 100%;
    //  height: auto;
    min-height: 842px;
    vertical-align: middle;
}

::ng-deep .modal-dialog {
    width: inherit;
    height: inherit;
}

::ng-deep .modal {
    justify-content: center !important;
    display: flex !important;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 450px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    color: rgba(11, 0, 236, 0.8) !important;
}


/* Caption text */

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #111111;
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

.strike {
    text-decoration: line-through;
}

p,
li {
    margin-top: 0cm;
    margin-right: 40.05pt;
    margin-bottom: 10pt;
    margin-left: 1cm;
    line-height: 115%;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    text-align: justify;
    /* disable text selection*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

span {
    font-family: Times New Roman, serif;
    font-size: 16px;
    line-height: 115%;
}

.inside-p {
    margin-left: 0 !important;
}

ol {
    margin-bottom: 0cm;
    list-style-type: undefined;
}

#title {
    margin-left: 7%;
}

.dismiss-modal {
    color: white;
    margin: 1%;
    background-color: $indigo;
}


/* medias */

@media screen and (min-width: 1900px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 768px) {
     ::ng-deep .modal-content {
        width: 595px;
        height: 842px;
        vertical-align: middle;
    }
     ::ng-deep .modal-dialog {
        width: 595px !important;
        height: 842px !important;
        max-width: 595px;
    }
}

::ng-deep .modal {
    overflow: scroll !important;
}

@media screen and (min-width: 600px) {
     ::ng-deep .modal-content {
        width: 595px;
        height: 842px;
        vertical-align: middle;
    }
     ::ng-deep .modal-dialog {
        width: 595px;
        height: 842px;
        max-width: 595px;
    }
}

@media screen and (max-width: 600px) {
     ::ng-deep .modal-content {
        width: 595px;
        height: 842px;
        vertical-align: middle;
    }
     ::ng-deep .modal-dialog {
        width: 595px;
        height: 842px;
        max-width: 595px;
        transform: scale(0.7) !important;
    }
}

@media screen and (max-width: 400px) {
     ::ng-deep .modal-content {
        width: 595px;
        height: 842px;
        vertical-align: middle;
    }
     ::ng-deep .modal-dialog {
        width: 595px;
        height: 842px;
        max-width: 595px;
        transform: scale(0.5) !important;
    }
}

.page-content {
    transform: scale(0.8);
}

.mt-custom {
    margin-top: 50px;
}
