<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
                <h1 style="text-align: center;">Mentions légales </h1>

                <p class="lead"></p>
                <ol>
                    <li>
                        <h4>EDITEUR </h4>
                    </li>
                    <p>Vous êtes sur le site de du groupe Paperlabs, édité par sa maison-mère Paperlabs SARL, société à
                        responsabilité limitée, au capital
                        de mille (1000 DT) dinars, dont le siège social est sis Rue de l’euro immeuble SLIM, Les berges du lac 1053, inscrite au
                        registre
                        national des entreprises sous le n° 1661207Y
                        Directeur de la publication : Paperlabs

                    </p>
                    <li>

                        <h4>DONNEES PERSONNELLES</h4>
                    </li>
                    <p>
                        Conformément à la loi organique n° 63 en date du 27 juillet 2004, portant sur la protection des
                        données à caractère personnel, les Membres disposent des droits suivants concernant les données
                        utilisées par Paperlabs dans le cadre du Site :
<ul>
                        <li>Accès à leurs données ;</li>
                        <li>?Opposition pour des motifs légitimes au traitement de leurs données ;</li>
                        <li>?Demande de rectification de leurs données en cas d'erreur ;</li>
                        <li> Demande d'effacement de leurs données ;</li>
                        <li>Demande de portabilité de leurs données ; et </li>
                        <li>Définir des directives relatives au sort de leurs données après leur décès.</li>
                    </ul>

                        Pour exercer ces droits le Membre doit contacter Paperlabs par courrier (insérer adresse) ou par
                        mail (insérer adresse email) en précisant son nom, prénom et adresse.
                        Par notre intermédiaire, ces données ont pu ou pourraient être communiquées à des tiers et le
                        Membre peut donc être amené à recevoir des offres commerciales ou des propositions d'autres
                        entreprises ou organismes. Si vous ne souhaitez pas recevoir ces offres, il suffit d'écrire à
                        Paperlabs en indiquant votre nom, prénom et adresse afin que le nécessaire soit fait dans les
                        plus bref délais.
                        Par ailleurs, le Site inclut des liens hypertextes vers d'autres sites web que le Site.
                        Dans la mesure ou Paperlabs ne peut contrôler ces sites, Paperlabs décline toute responsabilité
                        quant à leur contenu, produits, services ou tout autre élément disponible.
                        Si vous naviguez vers un de ces sites, veuillez noter qu'ils possèdent leur propre politique de
                        confidentialité et que notre responsabilité s'arrête au moment où vous quittez notre Site.
                        Vérifiez les politiques de confidentialités avant de transmettre vos données personnelles à des
                        sites tiers.
                        Néanmoins Paperlabs mettra tout en œuvre pour supprimer les liens vers les sites inappropriés
                        dont il aurait connaissance. Paperlabs invite ses Utilisateurs à lui signaler tout lien
                        hypertexte présent sur le Site qui permettrait d'accéder à un site internet proposant un contenu
                        contraire aux lois ou aux bonnes mœurs.

                    </p>
                                    
                        <h4>Notification de violation des données </h4>
                   
                   
                    <p>
                        Paperlabs s'engage à notifier au Membre toute violation de données à caractère personnel dans un
                        délai maximum de 48 heures après en avoir pris connaissance et par mail. Cette notification est
                        accompagnée de toute documentation utile afin de permettre au Membre, si nécessaire, de notifier
                        cette violation à l’autorité de contrôle compétente.
                    </p>
                    <h4>Mesure de protection des données </h4>
                    <p>
                        Paperlabs s’engage à mettre en œuvre les moyens techniques appropriés pour assurer la sécurité
                        des données.
                         Le Membre est informé et accepte expressément que, conformément aux dispositions légales
                        applicables :
                        Le site Paperlabs comporte des dispositifs techniques (cookies ou autres technologies) qui
                        notamment, lors d’une connexion Internet, et pour les progiciels concernés, permettent au client
                        via un web service, soit automatiquement, soit le cas échéant à l’initiative de Paperlabs,
                        d’envoyer à Paperlabs des informations sur l’identification du client (adresse IP) ; et 
                        Les informations obtenues par Paperlabs grâce à ces dispositifs techniques sont également
                        susceptibles d’être utilisées par Paperlabs dans le cadre de lutte anti-contrefaçon, pour
                        repérer et empêcher une éventuelle utilisation illicite ou non-conforme des progiciels
                        concernés. 
                        Par ailleurs, Paperlabs s’engage à mettre en œuvre les mesures de sécurité suivantes :
                        Mot de passe sécurisé pour la connexion à l'espace client, utilisation de Linux, mise à jour et
                        correctifs de sécurité, back up toutes les heures chez OVH, site accessible en HTTPS,
                        vérification de la politique de confidentialité de chaque sous-traitant de Paperlabs et de leur
                        mise en conformité avec la loi organique n° 63 en date du 27 juillet 2004, portant sur la
                        protection des données à caractère personnel et accès sécurisé aux locaux de l'entreprise.

                    </p>
                    
                        <h4>Obligations de Paperlabs concernant les données personnelles </h4>
                    
                    <p>Paperlabs s'engage à :

                        Traiter les données uniquement pour les seules finalités qui font l’objet des présentes CGVU ;
                        Traiter les données conformément aux instructions du Membre. Si Paperlabs considère qu’une
                        instruction constitue une violation la loi organique n° 63 en date du 27 juillet 2004, portant
                        sur la protection des données à caractère personnel, il en informe immédiatement le Membre ;
                        Garantir la confidentialité des données à caractère personnel traitées dans le cadre des
                        présentes CGVU ;
                        Veiller à ce que les personnes autorisées à traiter les données à caractère personnel en vertu
                        des présentes CGVU s’engagent à en respecter la confidentialité ;
                        Prendre en compte, s’agissant de ses outils, produits, applications ou services, les principes
                        de protection des données dès la conception et de protection des données par défaut.
                    </p>
                    
                        <h4>Informations nominatives et cookies</h4>
                    
                    <p>Pour permettre à ses Utilisateurs de bénéficier d’une navigation optimale sur le Site ainsi qu’un
                        meilleur fonctionnement des différentes interfaces et applications,
                        Paperlabs est susceptible d’implanter un cookie sur l’ordinateur de l’Utilisateur. Ce cookie
                        permet de stocker des informations relatives à la navigation sur Paperlabs (date, page, heures),
                        ainsi qu’aux éventuelles données saisies par les Utilisateurs (notamment recherches, login,
                        email, mot de passe).
                        L’Utilisateur autorise expressément Paperlabs à déposer sur le disque dur de l’utilisateur un
                        fichier dit « cookie ».
                        L’Utilisateur dispose de la possibilité de bloquer, modifier la durée de conservation, ou
                        supprimer ce cookie via l’interface de son navigateur.
                        Si la désactivation systématique des cookies sur le navigateur de l’Utilisateur l’empêche
                        d’utiliser certains services ou fonctionnalités du Site, ce dysfonctionnement ne saurait en
                        aucun cas
                        constituer un dommage pour le membre qui ne pourra prétendre à aucune indemnité de ce fait.
                    </p>
                    <li>
                        <h4>Propriété Intellectuelle </h4>
                    </li>
                    <p>L'ensemble de ce site relève de la législation tunisienne et internationale sur le droit d'auteur
                        et la propriété intellectuelle.
                        Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et
                        photographiques. La reproduction, adaptation et/ou traduction de tout
                        ou partie de ce site sur un support quel qu'il soit, est formellement interdite sauf
                        autorisation expresse du Directeur de la publication.
                    </p>
                    <li><h4>Hébergeur<h4></li>
                    <p > Le site Paperlabs est herbergé en Tunisie dans le data center suivant :
                        Amazon web service </p>
                </ol>



            </div>
        </div>
    </div>
</div>