<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
                <h1 style="text-align: center;">Conditions générales </h1>

                <p class="lead"></p>
                <h4>1. PREAMBULE </h4>

                <p style="
                text-align: justify;
            ">Les présentes conditions générales de vente et d’utilisation sont la propriété de Paperlabs. Toute
                    diffusion, exploitation, représentation, reproduction ou utilisation, totale ou partielle, sur tout
                    support, des présentes conditions générales de vente et d’utilisation est soumise à l'autorisation
                    expresse et préalable de Paperlabs. A défaut de cette autorisation, le contrevenant s'expose à des
                    poursuites civiles et pénales.</p>
                <p>
                    La marque, le logo Paperlabs et la charte graphique du site sont des marques déposées, propriété
                    exclusive de Paperlabs. Toute utilisation ou reproduction, même partielle, non autorisée, est
                    strictement interdite. Tout contrevenant sera poursuivi devant les juridictions compétentes.</p>
                <p> La société Paperlabs, société à responsabilité limitée, au capital de deux mille (2000 DT) dinars,
                    dont le siège social est Rue de l’euro immeuble SLIM, Les berges du lac 1053, immatriculée au registre national des entreprises sous
                    l’identifiant unique numéro 1661207Y, fournit notamment à ses utilisateurs un service leur
                    permettant de rédiger eux-mêmes leurs documents en ligne à partir de modèles. Paperlabs permet à ses
                    utilisateurs de contacter des avocats.</p>
                <p>Nous vous invitons à lire attentivement les présentes conditions générales de vente et d'utilisation,
                    en vous inscrivant, vous vous engagez à les respecter. Si vous n'acceptez pas l’intégralité des
                    conditions générales de vente et d’utilisation, vous ne devez pas vous inscrire sur le site
                    Paperlabs. L'inscription ainsi que l'utilisation de n’importe quelle fonctionnalité du présent site
                    supposent l'acceptation pleine et entière des présentes. En s'inscrivant, l’utilisateur reconnaît
                    qu'il est pleinement informé et qu'il est tenu par l'ensemble des dispositions des présentes
                    conditions générales de vente et d'utilisation.</p>

                </p>
                <h4>2. DÉFINITIONS</h4>
                <p class="para">Pour une meilleure compréhension des présentes conditions générales de vente et
                    d’utilisation, les mots et expressions commençant par une majuscule auront la signification suivante
                    :
                </p>
                <table border="5px" style="width: 100%;">



                    <tr>
                        <td style="width: 50%;"> <b>CGVU</b></td>
                        <td style="width: 50%"> Désigne les présentes conditions
                            générales de vente et d'utilisation du Site.</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"><b>Compte</b></td>
                        <td style="width: 50%;">Désigne l'espace personnel du Membre qui est intitulé "Mon compte" sur
                            le Site.</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"><b>Document</td> </b>
                        <td style="width: 50%;"> Désigne un modèle de document administratif ou juridique disponible sur
                            le Site.</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"><b>Membre</b></td>
                        <td style="width: 50%;">Désigne un Membre ayant un Compte sur le Site Paperlabs.</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"><b>Paperlabs</b></td>
                        <td style="width: 50%;">Désigne la société Paperlabs, société à responsabilité limitée au
                            capital de deux mille (2000 DT) dinars, dont le siège social est sis Rue de l’euro immeuble SLIM, Les berges du lac 1053,
                            immatriculatée au registre national des entreprises sous l'identifiant unique n° 1661207Y.</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"><b>Produits</b></td>
                        <td style="width: 50%;">Désigne tout produit, et/ou service disponiblle à la vente ou mis à
                            disposition des Utilisateurs sur le Site.</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"><b>Site</b></td>
                        <td style="width: 50%;">Désigne le site internet accessible à l'adresse suivante hello@paperlabs.io.</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"><b>Utilisateur</b></td>
                        <td style="width: 50%;">Désigne toute personne physique ou morale, majeure et capable présente
                            sur le Site.</td>
                    </tr>
                </table>

                <h4>3. GENERALITES</h4>
                <p>Paperlabs met à la disposition de ses Membres un logiciel et de l’information leur
                    permettant de personnaliser eux-mêmes les modèles de documents administratifs et
                    juridiques disponibles sur le site hello@paperlabs.io.</p>
                <p>
                    Paperlabs n’est pas un cabinet d’avocats. Paperlabs n’exerce ni une activité de
                    conseil juridique ni une activité de rédaction d’actes sous seings privés pour autrui,
                    les documents (notamment lettres et contrats) disponibles sur hello@paperlabs.io sont des modèles à compléter par les Membres. Les salariés de
                    Paperlabs n’agissent en aucun cas comme avocat des Membres.
                </p>
                <p>Le Membre qui achète, télécharge ou utilise un document disponible sur hello@paperlabs.io reconnait qu’il s’agit d’un modèle à compléter et qu’un modèle
                    ne peut être adapté à chaque situation spécifique.</p>
                <p>Pour toute consultation juridique, il convient de se rapprocher d’un avocat ou de tout
                    autre personne habilitée par la loi à faire des prestations de conseil juridique.</p>
                <p>Paperlabs ne garantie en aucun cas l'efficacité juridique des informations et
                    documents figurant sur le Site. Paperlabs ne peut en aucun cas être tenue
                    responsable du fait d'une omission, d'une inexactitude ou de toute erreur contenue
                    dans ces informations et documents et qui serait à l'origine d'un dommage direct
                    et/ou indirect causé à un Membre ou un Utilisateur. Dans l’hypothèse ou la
                    responsabilité de Paperlabs devait être établie et retenue à raison d’un préjudice subi
                    par le client et imputable exclusivement au contenu d'un document proposé par
                    Paperlabs, celle-ci est limitée au montant de la commande payé par le client à
                    Paperlabs.</p>
                <h4>4. INSCRIPTION SUR LE SITE</h4>
                <p>L’inscription au Site est ouverte à toute personne physique ou morale, majeure et
                    capable.</p>
                <p>L'utilisation du Site est conditionnée à une inscription préalable et gratuite, entraînant
                    l'acceptation entière des présentes CGVU.</p>
                <p>Les Utilisateurs doivent avoir remplis tous les champs obligatoires.</p>
                <p>Les Utilisateurs garantissent que toutes les informations communiquées sur le Site,
                    et notamment lors de leur inscription, sont exactes et conformes à la réalité. Les
                    Utilisateurs s’engagent à mettre à jour leurs informations personnelles à partir de la
                    page « Mes informations personnelles » disponible dans leur Compte.</p>
                <p>Chaque Utilisateur dispose d'un identifiant et d'un mot de passe, qui seront
                    strictement personnels et confidentiels et qui ne devront en aucun cas être
                    communiqués à des tiers sous peine de suppression du Compte du Membre
                    contrevenant. Chaque Membre est responsable du maintien de la confidentialité de
                    son identifiant et mot de passe. Paperlabs ne sera pas responsable en cas
                    d'usurpation d'identité d'un Membre. Dans l'hypothèse de la suspicion d'une fraude
                    tout Membre devra en avertir immédiatement Paperlabs afin de pouvoir prendre les
                    mesures nécessaires à la régularisation de la situation.</p>
                <p>Une même personne physique ou morale ne peut ouvrir plusieurs Comptes sur le
                    Site. L’utilisation d’un Compte est strictement personnelle.</p>
                <p>En cas de non-respect des présentes CGBU, notamment en cas d'inexactitude sur
                    les informations communiquées, Paperlabs aura la faculté de supprimer
                    temporairement ou définitivement le Compte du Membre ayant failli à ses obligations.
                    Toute suppression de Compte entraîne la perte définitive de tous les avantages et

                    Produits acquis sur le Site ainsi que de tous les contenus qui auraient pu être reçus,
                    téléchargés, envoyés par le Membre sur le Site.</p>
                <p>A ce titre, il est fortement recommandé aux Membres de faire une copie des
                    contenus, informations conservés sur le Site.</p>
                <p>En cas de suppression d'un Compte par Paperlabs pour manquement aux présentes
                    CGVU, il sera formellement et strictement interdit à l’Utilisateur contrevenant de
                    tenter de se réinscrire directement, avec une autre adresse email ou par personne
                    interposée sur le Site sans l'autorisation écrite, préalable et expresse de Paperlabs.</p>
                <h4>5. COMPORTEMENT DES MEMBRES</h4>
                <p>En acceptant les présentes CGVU, les Membres s'engagent à se comporter de
                    manière loyale à l'égard de Paperlabs.</p>
                <p>Les Membres s'engagent à rester courtois et de bonne foi lors de l'utilisation des
                    différentes fonctionnalités du Site.</p>
                <h4>6. PROPRIETE INTELLECTUELLE DES DOCUMENTS</h4>
                <p>Les Documents sont la propriété exclusive de Paperlabs, en téléchargeant un
                    Document, le Membre reconnaît qu’il a un droit d’utilisation pour son Compte ou pour
                    le Compte de son entreprise. Les Documents ne peuvent être revendus par un
                    Utilisateur sans l’accord express de Paperlabs. Toute utilisation ou reproduction,
                    même partielle, non autorisée des Documents est strictement interdite. Tout
                    contrevenant sera poursuivi devant les juridictions compétentes.</p>
                <h4>7. STOCKAGE DES DOCUMENTS SUR LE SITE PAR LES MEMBRES</h4>
                <p>Les Membres ont la possibilité de stocker les Documents auxquels ils ont accès sur
                    leur Compte. Toute suppression d’un Document par le Membre est définitive et
                    irréversible.</p>
                <p>Paperlabs recommande à ses Membres de faire régulièrement des sauvegardes, sur
                    leur ordinateur ou sur une disque dur externe, des Documents disponibles sur leur
                    Compte.</p>
                <h4>8. IMPORTATION D’UN DOCUMENT</h4>
                <p>Les Membres ont la possibilité d’importer un document qui leur appartient sur leur
                    Compte. Les documents pouvant être importés devront être de type Word (.doc et
                    .docx) et PDF.</p>
                <p>Pour importer un Document, le Membre clique sur le lien « Importer un document »
                    disponible sur son Compte.</p>
                <p>Aucun des services accessible aux Membres ne sera disponible pour les documents

                    importés mis à part la visualisation du document sur la page « mon document » du
                    Membre, l’impression et le téléchargement.</p>
                <h4>9. PRIX</h4>
                <p>Les prix sont indiqués sur le Site en dinars.</p>
                <p>Les prix figurant sur le site sont des prix TTC en dinars. Il est ici précisé que tout
                    changement du taux de TVA pourra être répercuté sur le prix des Produits.</p>
                <p>Paperlabs se réserve le droit de modifier ses prix à tout moment, étant toutefois
                    entendu que le prix figurant sur le Site le jour de la commande sera le seul applicable
                    au Membre, sauf erreur de typographie ou d’omission.</p>
                <h4>10. PAIEMENT</h4>
                <p>Le prix est exigible à la commande. Le Membre règle ses achats par carte bancaire.
                    Paperlabs utilise le service de paiement sécurisé fournit par la société Amazon web service. Les données confidentielles (le numéro de carte bancaire à 16 chiffres
                    ainsi que la date d'expiration, le code CVX) sont directement transmises cryptées sur
                    le serveur de la banque, Paperlabs n’a pas accès à ces données.</p>
                <p>Paperlabs adresse une facture par voie électronique (disponible sur le Compte
                    Paperlabs du Membre) après chaque paiement effectué par un Membre ce que ce
                    dernier accepte expressément.</p>
                <h4>11. RESPONSABILITE</h4>
                <p>Paperlabs décline toute responsabilité en ce qui concerne l’utilisation des Produits et
                    notamment en ce qui concerne l’utilisation par un Utilisateur des Documents
                    disponibles sur le Site.</p>
                <p>Tous cas de force majeure, d’intrusion extérieure ou présence de virus
                    informatique ne sauraient engager la responsabilité de Paperlabs.</p>
                <p>L’Utilisateur doit prendre toutes les mesures appropriées de façon à protéger ses
                    propres systèmes informatiques des intrusions non autorisées, des actes de
                    destruction ou d’altération, des contaminations éventuelles par des virus, chevaux de
                    Troie ou autre système causant des failles de sécurité sur Internet.</p>
                <p>Paperlabs fait ses meilleurs efforts pour maintenir le service opérationnel mais ne
                    peut offrir aucune garantie quant à la continuité de l’accès au Site. En cas
                    d’impossibilité d’accès au Site, en raison de problèmes techniques ou de toutes
                    natures que ce soient, l’Utilisateur ne pourra se prévaloir d’un quelconque dommage
                    direct et/ou indirect et ne pourra prétendre à aucune indemnité. En aucun cas,
                    Paperlabs ne pourra être tenue pour responsable d’un dommage qui résulterait d’une
                    perte de données.</p>
                <p>Paperlabs se réserve le droit de modifier sans préavis les caractéristiques de ses

                    Produits, notamment en raison de l’évolution technologique et technique, de
                    l’évolution des lois et règlement, afin notamment d’en améliorer la qualité.</p>
                <h4>12. LETTRES D'INDORMATIONS</h4>
                <p>En communiquant son adresse mail, l'Utilisateur accepte de recevoir des lettres
                    d’informations envoyée selon la fréquence choisie par Paperlabs.</p>
                <p>L'Utilisateur peut demander à Paperlabs, à tout moment, de cesser de recevoir les
                    lettres d’informations.</p>
                <h4>13. LIENS HYPERTEXTES</h4>
                <p>Le Site inclut des liens hypertextes vers d'autres sites web que le Site. Dans la
                    mesure où Paperlabs ne peut contrôler ces sites, Paperlabs décline toute
                    responsabilité quant à leur contenu, produits, services ou tout autre élément
                    disponible. Néanmoins Paperlabs mettra tout en œuvre pour supprimer les liens vers
                    les sites inappropriés dont il aurait connaissance. Paperlabs invite ses Utilisateurs à
                    lui signaler tout lien hypertexte présent sur le site qui permettrait d’accéder à un site
                    internet proposant un contenu contraire aux lois ou aux bonnes mœurs.</p>
                <h4>14. RENONCIATION AU DROIT DE RETRACTATION</h4>
                <p>Compte tenu de la nature des services fournis, les Utilisateurs donnent leur accord
                    exprès et préalable à Paperlabs pour débuter l’exécution du contrat dès la passation
                    de la commande, et renoncent expressément à leur droit de rétractation pour toute
                    commande passée sur le Site.</p>
                <p>Le contrat est donc conclu de façon définitive dès la passation de la commande par
                    le l’Utilisateur selon les modalités précisées aux présentes CGVU.</p>
                <h4>15. DONNÉES PERSONNELLES</h4>
                <h4>15.1 Traitement des données</h4>
                <p>Conformément à la loi organique n° 63 en date du 27 juillet 2004, portant sur la
                    protection des données à caractère personnel, les Membres disposent des droits
                    suivants concernant les données utilisées par Paperlabs dans le cadre du Site :</p>
                <ul>
                    <li>Accès à leurs données ;</li>
                    <li>?Opposition pour des motifs légitimes au traitement de leurs données ;</li>
                    <li>?Demande de rectification de leurs données en cas d'erreur ;</li>
                    <li>Demande d'effacement de leurs données ;</li>
                    <li>Demande de portabilité de leurs données ; et</li>
                    <li>Définir des directives relatives au sort de leurs données après leur décès.</li>

                </ul>
                <p>Pour exercer ces droits le Membre doit contacter Paperlabs par courrier Rue de l’euro immeuble SLIM, Les berges du lac 1053 ou par mail hello@paperlabs.io en précisant son nom, prénom et
                    adresse.</p>
                <p>Par notre intermédiaire, ces données ont pu ou pourraient être communiquées à des
                    tiers et le Membre peut donc être amené à recevoir des offres commerciales ou des
                    propositions d'autres entreprises ou organismes. Si vous ne souhaitez pas recevoir
                    ces offres, il suffit d'écrire à Paperlabs en indiquant votre nom, prénom et adresse
                    afin que le nécessaire soit fait dans les plus bref délais.</p>
                <h4>Notification de violation des données</h4>
                <p>Paperlabs s'engage à notifier au Membre toute violation de données à caractère
                    personnel dans un délai maximum de 48 heures après en avoir pris connaissance et
                    par mail. Cette notification est accompagnée de toute documentation utile afin de
                    permettre au Membre, si nécessaire, de notifier cette violation à l’autorité de contrôle
                    compétente.</p>
                <h4>15.2 Mesures de protection des données</h4>
                <p>Paperlabs s’engage à mettre en œuvre les moyens techniques appropriés pour
                    assurer la sécurité des données.</p>
                <p>Le Membre est informé et accepte expressément que, conformément aux
                    dispositions légales applicables :</p>
                <ul>
                    <li>Le site Paperlabs comporte des dispositifs techniques (cookies ou autres
                        technologies) qui notamment, lors d’une connexion Internet, et pour les
                        progiciels concernés, permettent au client via un web service, soit
                        automatiquement, soit le cas échéant à l’initiative de Paperlabs, d’envoyer à
                        Paperlabs des informations sur l’identification du client (adresse IP) ; et</li>
                    <li>Les informations obtenues par Paperlabs grâce à ces dispositifs techniques
                        sont également susceptibles d’être utilisées par Paperlabs dans le cadre de
                        lutte anti-contrefaçon, pour repérer et empêcher une éventuelle utilisation
                        illicite ou non-conforme des progiciels concernés.</li>
                </ul>
                <p>Par ailleurs, Paperlabs s’engage à mettre en œuvre les mesures de sécurité
                    suivantes :</p>
                <p>Mot de passe sécurisé pour la connexion à l'espace client, utilisation de Linux, mise
                    à jour et correctifs de sécurité, back up toutes les heures chez OVH, site accessible
                    en HTTPS, vérification de la politique de confidentialité de chaque sous-traitant de
                    Paperlabs et de leur mise en conformité avec la loi organique n° 63 en date du 27
                    juillet 2004, portant sur la protection des données à caractère personnel et accès
                    sécurisé aux locaux de l'entreprise.</p>
                <h4>15.4 Obligations de Paperlabs concernant les données personnelles</h4>
                <p>Paperlabs s'engage à :</p>
                <ul>
                    <li>Traiter les données uniquement pour les seules finalités qui font l’objet des
                        présentes CGVU ;</li>
                    <li>Traiter les données conformément aux instructions du Membre. Si Paperlabs
                        considère qu’une instruction constitue une violation la loi organique n° 63 en
                        date du 27 juillet 2004, portant sur la protection des données à caractère
                        personnel, il en informe immédiatement le Membre ;</li>
                    <li>Garantir la confidentialité des données à caractère personnel traitées dans le
                        cadre des présentes CGVU ;</li>
                    <li>Veiller à ce que les personnes autorisées à traiter les données à caractère
                        personnel en vertu des présentes CGVU s’engagent à en respecter la
                        confidentialité ;</li>
                    <li>Prendre en compte, s’agissant de ses outils, produits, applications ou
                        services, les principes de protection des données dès la conception et de
                        protection des données par défaut.</li>
                </ul>
                <h4>15.5 Informations nominatives et cookies</h4>
                <p>Pour permettre à ses Utilisateurs de bénéficier d’une navigation optimale sur le Site
                    ainsi qu’un meilleur fonctionnement des différentes interfaces et applications,
                    Paperlabs est susceptible d’implanter un cookie sur l’ordinateur de l’Utilisateur. Ce
                    cookie permet de stocker des informations relatives à la navigation sur Paperlabs
                    (date, page, heures), ainsi qu’aux éventuelles données saisies par les Utilisateurs
                    (notamment recherches, login, email, mot de passe).</p>
                <p>L’Utilisateur autorise expressément Paperlabs à déposer sur le disque dur de
                    l’utilisateur un fichier dit « cookie ».</p>
                <p>L’Utilisateur dispose de la possibilité de bloquer, modifier la durée de conservation,
                    ou supprimer ce cookie via l’interface de son navigateur. Si la désactivation
                    systématique des cookies sur le navigateur de l’Utilisateur l’empêche d’utiliser
                    certains services ou fonctionnalités du Site, ce dysfonctionnement ne saurait en
                    aucun cas constituer un dommage pour le membre qui ne pourra prétendre à aucune
                    indemnité de ce fait.</p>
                <h4>16. MODIFICATIONS</h4>
                <p>Paperlabs se réserve le droit de faire des changements sur le Site, les procédures, et
                    sur les termes et conditions, y compris sur les présentes CGVU à tout moment. Le
                    client est soumis aux termes et conditions, procédures et CGVU en vigueur au
                    moment où il (le client) commande un Produit, sauf si un changement à ces termes
                    et conditions, ou les présentes conditions est exigé par une autorité administrative ou
                    gouvernementale (dans ce cas, cette modification peut, le cas échéant, s'appliquer
                    aux commandes antérieures que le client a effectué).</p>
                <h4>16.1 Modification des CGVU</h4>
                <p>Paperlabs se réserve le droit de changer, modifier, ajouter ou supprimer à tout
                    moment de manière temporaire ou permanente les termes des présentes CGVU à sa
                    seule discrétion.</p>
                <p>En cas de modifications matérielles des présentes, le client sera informé au moyen
                    d’un email ou d’un avertissement sur le Site au moment de la mise en application de
                    la modification. Toute utilisation des Produits postérieure à des mises à jour et/ou
                    modifications notifiées emporte acceptation des CGVU ainsi mises à jour et
                    modifiées.</p>
                <h4>16.2 Modification du prix des Produits</h4>
                <p>Paperlabs se réserve le droit de modifier le prix des Produits indiqués sur le Site à
                    tout moment, étant entendu que le nouveau prix n’est appliqué qu’aux commandes
                    passées à compter de l’entrée en vigueur du nouveau prix.</p>
                <h4>16.3 Modification du Site et des Produits</h4>
                <p>Paperlabs n’a de cesse de modifier et d’améliorer ses Produits. Il est donc
                    susceptible d’ajouter ou de supprimer des fonctionnalités ou des fonctions, et il peut
                    également arriver qu’il suspende ou interrompe complètement un Produit.</p>
                <h4>17. DIVISIBILITE DES CLAUSES</h4>
                <p>La nullité d'une des clauses des présentes n'entraîne pas la nullité des CGVU, les
                    autres clauses continueront à produire leurs effets.</p>
                <h4>18. RENONCIATION</h4>
                <p>Le fait, pour Paperlabs, de ne pas se prévaloir à titre temporaire ou permanent d’une
                    ou plusieurs clauses des présentes CGVU, n’emportera en aucun cas renonciation à
                    se prévaloir du reste des dites CGVU.</p>
                <h4>   19. LOI APPLICABLE ET JURIDICTION</h4>
                <p>Les présentes conditions générales sont régies par la loi tunisienne.</p>
                <p>En cas de contestation sur la validité, l'interprétation et/ou l'exécution des présentes
                    conditions générales, les parties conviennent que les tribunaux de Tunis I seront
                    exclusivement compétents pour en juger.</p>


            </div>
        </div>
    </div>
</div>