<section  id="section_4">
    <h2 class="titel-line">Contratou est...</h2>

    <div class="container" id="how-does-it-work-container">
        <div class="row">

            <div class="col bloc" >
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/simple.png">
                    </div>
                    <div class="row bloc_1">
                        <h4 class="bloc1_1">Simple</h4>
                        <div class="home_trust_content">Vos démarches en quelques étapes</div>
                    </div>
            </div>
            <div class="col bloc" >
                <div class="row bloc_1 img">
                    <img src="../../../../content/images/rapide.png">
                </div>
                <div class="row bloc_1">
                    <h4 class="bloc1_1">Rapide</h4>
                    <div class="home_trust_content">Votre démarche réalisée en moins de 24h</div>
                </div>
            </div>
            <div class="col bloc" >
                <div class="row bloc_1 img">
                    <img src="../../../../content/images/securise.png">
                </div>
                <div class="row bloc_1">
                    <h4  class="row bloc_1">Sécurisé</h4>
                    <div class="home_trust_content">Vos données sont en sécurité total</div>
                </div>
            </div>
            <div class="col bloc" >
                <div class="row bloc_1 img">
                    <img src="../../../../content/images/economique.png">
                </div>
                <div class="row bloc_1">
                    <h4  class="row bloc_1">Economique</h4>
                    <div class="home_trust_content">Des prix imbattables</div>
                </div>
            </div>


        </div>

    </div>
</section>
