/* Font Definitions */
body {
  background-color: white;
}
@font-face {
  font-family: Wingdings;
  panose-1: 5 0 0 0 0 0 0 0 0 0;
}

@font-face {
  font-family: 'Cambria Math';
  panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
  font-family: 'Segoe UI';
  panose-1: 2 11 5 2 4 2 4 2 2 3;
}

@font-face {
  font-family: 'Traditional Arabic';
}

/* Style Definitions */

p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
  margin: 0in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

h1 {
  mso-style-link: 'Heading 1 Char';
  margin: 0in;
  text-align: center;
  line-height: 12pt;
  page-break-after: avoid;
  text-autospace: none;
  font-size: 12pt;
  font-family: 'Times New Roman', serif;
  color: black;
  text-decoration: underline;
}

h2 {
  mso-style-link: 'Heading 2 Char';
  margin-top: 2pt;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0in;
  page-break-after: avoid;
  font-size: 13pt;
  font-family: 'Calibri Light', sans-serif;
  color: #2f5496;
  font-weight: normal;
}

p.MsoCommentText,
li.MsoCommentText,
div.MsoCommentText {
  mso-style-link: 'Comment Text Char';
  margin: 0in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoHeader,
li.MsoHeader,
div.MsoHeader {
  mso-style-link: 'Header Char';
  margin: 0in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoFooter,
li.MsoFooter,
div.MsoFooter {
  mso-style-link: 'Footer Char';
  margin: 0in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoTitle,
li.MsoTitle,
div.MsoTitle {
  mso-style-link: 'Title Char';
  margin: 0in;
  text-align: center;
  font-size: 12pt;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

p.MsoBodyText,
li.MsoBodyText,
div.MsoBodyText {
  mso-style-link: 'Body Text Char';
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 6pt;
  margin-left: 0in;
  font-size: 12pt;
  font-family: 'Arial', sans-serif;
}

p.MsoBodyText3,
li.MsoBodyText3,
div.MsoBodyText3 {
  mso-style-link: 'Body Text 3 Char';
  margin: 0in;
  text-align: justify;
  text-justify: kashida;
  text-kashida: 0%;
  font-size: 12pt;
  font-family: 'Arial', sans-serif;
}

p.MsoCommentSubject,
li.MsoCommentSubject,
div.MsoCommentSubject {
  mso-style-link: 'Comment Subject Char';
  margin: 0in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

p.MsoAcetate,
li.MsoAcetate,
div.MsoAcetate {
  mso-style-link: 'Balloon Text Char';
  margin: 0in;
  font-size: 9pt;
  font-family: 'Segoe UI', sans-serif;
}

p.MsoListParagraph,
li.MsoListParagraph,
div.MsoListParagraph {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoListParagraphCxSpFirst,
li.MsoListParagraphCxSpFirst,
div.MsoListParagraphCxSpFirst {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoListParagraphCxSpMiddle,
li.MsoListParagraphCxSpMiddle,
div.MsoListParagraphCxSpMiddle {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoListParagraphCxSpLast,
li.MsoListParagraphCxSpLast,
div.MsoListParagraphCxSpLast {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

span.Heading1Char {
  mso-style-name: 'Heading 1 Char';
  mso-style-link: 'Heading 1';
  font-family: 'Times New Roman', serif;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

span.TitleChar {
  mso-style-name: 'Title Char';
  mso-style-link: Title;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

span.CommentTextChar {
  mso-style-name: 'Comment Text Char';
  mso-style-link: 'Comment Text';
  font-family: 'Times New Roman', serif;
}

span.CommentSubjectChar {
  mso-style-name: 'Comment Subject Char';
  mso-style-link: 'Comment Subject';
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

span.BalloonTextChar {
  mso-style-name: 'Balloon Text Char';
  mso-style-link: 'Balloon Text';
  font-family: 'Segoe UI', sans-serif;
}

span.Heading2Char {
  mso-style-name: 'Heading 2 Char';
  mso-style-link: 'Heading 2';
  font-family: 'Calibri Light', sans-serif;
  color: #2f5496;
}

span.BodyText3Char {
  mso-style-name: 'Body Text 3 Char';
  mso-style-link: 'Body Text 3';
  font-family: 'Arial', sans-serif;
}

span.BodyTextChar {
  mso-style-name: 'Body Text Char';
  mso-style-link: 'Body Text';
  font-family: 'Arial', sans-serif;
}

p.paragraph,
li.paragraph,
div.paragraph {
  mso-style-name: paragraph;
  margin-right: 0in;
  margin-left: 0in;
  font-size: 12pt;
  font-family: 'Times New Roman', serif;
}

span.normaltextrun {
  mso-style-name: normaltextrun;
}

span.eop {
  mso-style-name: eop;
}

span.scxw145711103 {
  mso-style-name: scxw145711103;
}

span.HeaderChar {
  mso-style-name: 'Header Char';
  mso-style-link: Header;
  font-family: 'Times New Roman', serif;
}

span.FooterChar {
  mso-style-name: 'Footer Char';
  mso-style-link: Footer;
  font-family: 'Times New Roman', serif;
}

.MsoChpDefault {
  font-family: 'Calibri', sans-serif;
}

.MsoPapDefault {
  margin-bottom: 8pt;
  line-height: 107%;
}

/* Page Definitions */

@page WordSection1 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection1 {
  page: WordSection1;
  margin-top: 4%;
}

@page WordSection2 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection2 {
  page: WordSection2;
}

@page WordSection3 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection3 {
  page: WordSection3;
}

@page WordSection4 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection4 {
  page: WordSection4;
}

@page WordSection5 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection5 {
  page: WordSection5;
}

@page WordSection6 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection6 {
  page: WordSection6;
}

@page WordSection7 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection7 {
  page: WordSection7;
}

@page WordSection8 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection8 {
  page: WordSection8;
}

@page WordSection9 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection9 {
  page: WordSection9;
}

@page WordSection10 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection10 {
  page: WordSection10;
}

@page WordSection11 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection11 {
  page: WordSection11;
}

@page WordSection12 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection12 {
  page: WordSection12;
}

@page WordSection13 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection13 {
  page: WordSection13;
}

@page WordSection14 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection14 {
  page: WordSection14;
}

@page WordSection15 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection15 {
  page: WordSection15;
}

/* List Definitions */

ol {
  margin-bottom: 0in;
}

ul {
  margin-bottom: 0in;
}
