.mat-tab-link {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #000000 !important;
  font-size: 2em !important;
  text-decoration: none !important;
}
.marge {
  margin: 15px;
}
.mat-ink-bar {
  background-color: #000066 !important;
}
