<div class="row d-flex justify-content-center marge">
    <jhi-preview *ngIf="progressBar < 100 && legalDocument.fullName.substring(legalDocument.fullName.length-3, legalDocument.fullName.length) =='_ar'" id="preview col-0 col-md-2"></jhi-preview>
    <form class="stepper col-12 col-sm-12 col-md-8">
        <div *ngIf="progressBar <= 100" class="mb-4">
            <ngb-progressbar type="info" [value]="progressBar" [striped]="true" [animated]="true"><em>{{progressBar}}% {{legalDocument.shortName}}</em></ngb-progressbar>
        </div>
        <mat-horizontal-stepper #stepper>
            <div class="tab" *ngFor="let step of stepsEntity">
                <mat-step>
                    <ng-template matStepLabel>{{step.title}}</ng-template>
                    <jhi-step-ar *ngIf="legalDocument.fullName.substring(legalDocument.fullName.length-3, legalDocument.fullName.length) =='_ar' " [step]="step"
                              [isFirstStep]="isFirstStep(step.id)" [isFinalStep]="isFinalStep(step.id)"
                              [isConfirmGenerationStep]="isConfirmGenerationStep(step.id)"
                              [legalDocument]="legalDocument"></jhi-step-ar>
                    <jhi-step [step]="step" *ngIf=" legalDocument.fullName.substring(legalDocument.fullName.length-3, legalDocument.fullName.length) !=='_ar' "
                              [isFirstStep]="isFirstStep(step.id)" [isFinalStep]="isFinalStep(step.id)"
                              [isConfirmGenerationStep]="isConfirmGenerationStep(step.id)"
                              [legalDocument]="legalDocument"></jhi-step>
                </mat-step>
            </div>
        </mat-horizontal-stepper>
    </form>
    <jhi-preview *ngIf="progressBar < 100 && legalDocument.fullName.substring(legalDocument.fullName.length-3, legalDocument.fullName.length) !='_ar'" id="preview col-0 col-md-2"></jhi-preview>


</div>

