.test {
  background-color: white;
  width: 100%;
  padding: 50px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }

  strong{
    font-weight: 600;
   }

   .title{
    margin-left: 30%;
  }