<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
                <h1>Guides</h1>

                <p class="lead"></p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Définition du contrat de travail</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Le contrat de travail est un contrat conclu entre un employé et un employeur.
                        Dans le contrat de travail, l'employé s'engage&nbsp;à effectuer un&nbsp;travail (mettre
                        à disposition une capacité professionnelle)&nbsp;pour son employeur&nbsp;moyennant une
                        rémunération définie.</p>
                    <p><strong>Le contrat de travail lie l'employé et l'employeur juridiquement et définit la
                        relation de subordination de l'employé par rapport à son employeur dans le cadre de
                        l'exercice de son travail.&nbsp;</strong></p>
                    <p>Ce contrat est réglementé par le Code du travail.</p>
                    <p>Il existe plusieurs types de contrats de travail :&nbsp;</p>
                    <p>- le contrat de travail à durée indéterminée (CDI) qui est, par défaut, le contrat de
                        travail s'appliquant à toute relation de travail dans laquelle il existe un lien de
                        subordination (c'est en principe le contrat devant s'appliquer, mais la loi permet de
                        recourir limitativement à d'autres types de contrats de travail).</p>
                    <p>- le contrat de travail à durée déterminée (CDD) conclu pour une durée limité</p>
                    <p>- le contrat de travail à temps plein (qui peut être un CDI ou un CDD) au titre duquel
                        l'employé travail pendant toute la durée légale hebdomadaire</p>
                    <p>- le contrat de travail à temps partiel</p>
                    <p>- les contrats de travail spécifiques (contrat d'apprentissage, contrat d'interim,
                        etc.).</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Modèle de contrat de travail</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <p>Les modèles de contrats CDD et CDI proposés par LegalPlace sont rédigés par des avocats
                        expérimentés en droit du travail et à jour des dispositions du <a
                            href=""
                            style="text-decoration: none;"><u>Code du travail</u></a>. Il vous suffit de remplir
                        un questionnaire et vous pouvez ensuite imprimer ou télécharger votre exemple de contrat
                        en PDF ou en Word. Le formulaire est très simple à utiliser, et a été conçu par des
                        experts. LegalPlace vous recommande en option de vous faire assister (par téléphone) ou
                        faire relire votre contrat par un avocat expérimenté de son réseau.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Les parties au contrat de travail</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <p>Le contrat de travail est un contrat conclu entre un salarié et un employeur, qui est en
                        général une entreprise, au titre duquel le salarié s’engage à travailler pour le compte et
                        sous la direction de l’employeur, mais peut également être un employeur particulier, en
                        contrepartie d’une rémunération.

                        La relation entre le salarié et l’employeur au titre du contrat de travail fera naître des
                        obligations légales et conventionnelles pour les deux parties.

                        La personne qui signe le contrat de travail pour le compte de l’employeur (lorsque c’est une
                        société) doit avoir le pouvoir d’engager la société (président, gérant ou directeur dont les
                        fonctions intègrent le recrutement de salariés).

                        Le salarié peut être toute personne physique. Il existe toutefois des restrictions pour les
                        majeurs sous tutelle, les mineurs et les étrangers (qui doivent être autorisés à travailler
                        en Tunisie).</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>La forme du contrat de travail</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <p>Hormis le <a href="" style="text-decoration: none;"><u>contrat de travail à durée
                        indéterminée</u></a> (CDI) à temps plein, tous les autres <a href="">types de contrats de
                        travail</a> doivent être formalisés par écrit (et en particulier le <a href=""
                                                                                               style="text-decoration: none;"><u>contrat
                        de travail à durée déterminée</u></a>, le CDI à temps partiel, etc.). Certaines <a href=""
                                                                                                           style="text-decoration: none;"><u>conventions
                        collectives</u></a> imposent par ailleurs que les CDI soient formalisés par écrit.</p>
                    <p><strong>Toutefois, une relation peut être qualifiée de contrat de travail à durée
                        indéterminée même en l’absence de contrat écrit</strong>. Il est ainsi fréquent le que
                        conseil des prud’hommes requalifie des relations (type prestations de services, free lance,
                        etc.) en contrat de travail à durée indéterminée, dès lors que les conditions d’un contrat
                        de travail sont, en pratique, réunies.</p>
                    <p><strong>A noter que pour les employeurs particuliers </strong>(employant par exemple une
                        nounou à domicile, un chauffeur, un jardinier, un professeur particulier, etc.), <strong>le
                            chèque emploi-service peut être utilisé</strong> pour des prestations de travail
                        occasionnelles dont la durée hebdomadaire n'excède pas 8 heures ou pour une durée dans
                        l'année d'un mois non renouvelable. Le chèque emploi-service tient alors lieu de contrat de
                        travail. En revanche, quel que soit le type de contrat, l’obligation d’écrire un écrit est
                        impérative à partir du moment où la durée du contrat excède 8 heures par semaine ou 4
                        semaines consécutives sur l’année.&nbsp;</p>
                    <p><strong>NB : </strong>le harcèlement moral&nbsp;est sanctionné par le droit du travail.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Qu’est ce qu’une convention collective ou un accord collectif ?</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <p><strong>Les conventions collectives ou accords collectifs sont des dispositions négociées et
                        signées entre des groupements d’employeurs et une ou plusieurs organisations syndicales de
                        salariés, venant compléter les dispositions du Code du travail pour chaque branche de
                        métiers et pour chaque profession</strong>. Les règles posées ont principalement pour objet
                        d’encadrer les conditions d'emploi et de travail dans en tenant compte des spécificités d’un
                        secteur ou d’un métier, ainsi que d’établir des garanties sociales complémentaires. Elles
                        s’appliquent au contrat de travail de manière cumulative au Code du travail.</p>
                    <p><strong>Toutefois, une relation peut être qualifiée de contrat de travail à durée
                        indéterminée même en l’absence de contrat écrit</strong>. Il est ainsi fréquent le que
                        conseil des prud’hommes requalifie des relations (type prestations de services, free lance,
                        etc.) en contrat de travail à durée indéterminée, dès lors que les conditions d’un contrat
                        de travail sont, en pratique, réunies.</p>
                    <p>Ainsi, lorsqu’on rédige un contrat de travail, il convient toujours de le faire à la double
                        lecture du Code du travail et de la convention collective et/ou de l’accord collectif
                        applicables. Une convention collective ne peut qu’apporter des règles dérogeant au Code du
                        travail dans un sens plus favorable au salarié. Ainsi, en Tunisie, le Code de travail est la
                        base de la réglementation encadrant le contrat de travail, puis la convention collective ou
                        l’accord collectif peuvent apporter des règles dérogatoires plus favorables (par exemple,
                        l’instauration d’une <a href="">période d’essai</a> maximale, d’une rémunération minimale
                        plus élevée que le SMIC, etc.).</p>
                    <p><strong>NB : </strong>le harcèlement moral&nbsp;est sanctionné par le droit du travail.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Quels types de contrats de travail ?</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <p><strong>Il existe de nombreux types de contrats de travail, variables selon la durée, le
                        temps de travail, le type de salarié, d’employeur ou de mission.</strong></p>
                    <p>Ainsi, on dénombre notamment les types de contrats de travail suivants :</p>
                    <p>- le contrat de travail à durée indéterminée (CDI)</p>
                    <p>- le contrat de travail à durée déterminée (CDD)</p>
                    <p>- le contrat de travail à temps partiel (qui peut être en même temps un CDI ou un
                        CDD)</p>
                    <p>- le contrat d’apprentissage</p>
                    <p>- le contrat de professionnalisation</p>
                    <p>- le <a href="">contrat de
                        travail temporaire</a> ou intermittent. On parle également de <a href="">contrat de
                        travail saisonnier dans certains cas</a></p>
                    <p>A noter qu’il existe également le contrat de travail en portage salarial, de plus en plus
                        utilisé, conclu entre une entreprise de portage salarial (qui emploi le salarié et le
                        rémunère), une entreprise cliente (qui bénéficie du travail du salarié et paye
                        l’entreprise de portage salarial) et un salarié (le salarié porté, qui effectuera
                        personnellement, par son travail, la mission désignée au sein de l’entreprise
                        cliente).</p>
                    <p><strong>Au sein même de ces contrats, on trouve certaines distinctions importantes dont
                        la principale sera la différence entre un contrat de travail à temps plein et un contrat
                        de travail à temps partiel.</strong> Le temps plein est le contrat de travail de base :
                        ainsi, en l’absence d’écrit, la relation sera par défaut qualifiée de CDI à temps plein.
                        La durée légale hebdomadaire maximum de travail est de 35 heures, avec toutefois des
                        aménagements possibles permettant de prévoir une durée supérieure dans certains cas
                        strictement autorisés (notamment par l’instauration d’un forfait jour lorsque la
                        convention collective l’autorise).</p>
                    <p>En cas de contrat de travail à temps partiel, un contrat écrit sera nécessaire, avec une
                        durée minimum de 24 heures par semaine (ou l’équivalent en comptage mensuel), avec
                        toutefois ici également des <a href="" style="text-decoration: none;"><u>exceptions
                            permettant de prévoir des durées de travail en dessous de ce minimum légal</u></a>,
                        notamment à la demande expresse du salarié ou si la convention collective le prévoit. Il
                        est possible, au sein d’un même contrat de travail, de passer du temps partiel au temps
                        complet, ou l’inverse (sous certaines conditions) en signant un avenant au contrat de
                        travail. Il est possible d'éfféctuer <a href="">un forfait jours à la place des 35
                            heures</a>.</p>

                </mat-expansion-panel>

            </mat-accordion>
        </div>
        </div>
    </div>
</div>


