


<img class="img" src="../../../content/images/remplir.jpg">

<div class="doc-containter">
    <div class="col-md-8 pb-5 col-6 col-md-4 float-left">
        <div class="headings">
            <h1 class="doc-title">{{legalDocument.fullName}}</h1>
        </div>

        <ul class="doc-features mt-4 mb-4">
            <li class="doc-feature-item">
                <span class="material-icons doc-feature-icon">create</span>Créez votre contrat
            </li>
            <li class="doc-feature-item">
                <span class="material-icons doc-feature-icon">save</span>Enregistrez et imprimez
            </li>
            <li class="doc-feature-item">
                <span class="material-icons doc-feature-icon">insert_drive_file</span>Signez et partagez
            </li>
        </ul>
        <button class="btn btn-paperlabs" [routerLink]="['/stepper/doc/', legalDocument.id]">
            <span class="material-icons icn-paperlabs">create</span>Remplir ce modèle
        </button>

        

       
        <div class="doc-sections">
           

            <div class="doc-sections-content">
                <div *ngFor="let descriptionSection of legalDocument.descriptionSections" class="doc-section">
                    <h2 class="doc-section-title"></h2>
                    <p class="doc-section-content">{{descriptionSection.content}}</p>
                </div>
                <ul class="doc-features2 ">
                <table class="tab">
                    <thead>
                      <tr>
                        <th class="colmn"><li class="doc-feature-item2">
                            <span class="material-icons doc-feature-icon2">file_download</span>Téléchargé plus de <br>
                            60,000 fois
                        </li>
                        </th>
                        <th class="colmn2"><li class="doc-feature-item2">
                            <span class="material-icons doc-feature-icon2">chat_bubble_outline</span>Avis clients 4.5/5 <br>
                            ****
                        </li>
                        </th>
                        <th class="colmn"><li class="doc-feature-item2">
                            <span class="material-icons doc-feature-icon2">groups</span>Réalisé par des avocats <br>
                            expérimentés
                        </li>
                        </th>
                      </tr>
                    </thead>
                </table>
                </ul>
            </div>
        </div>
    </div>

  
</div>
