
 
  <div class="section">
 <div id="main">
  <div id="menu">


 

  </div>
 <!--  <div id="menul">
      Menu
     </div> -->
  <div id="contenu">
      <div>
      <h1 class="maintitle ">
      Créez votre contrat de  <span class="text-span-7">location</span> 
      <!-- <br/> <span class="title-2"> simplement et rapidement </span> -->
      <span class="text-span-5">!</span></h1>
      </div>
      <table class="table-sarl">
          <tbody class="all-tab-sarl">
              <tr>
                  <th>locations / baux</th>
              </tr>
              
                
              <tr>
                  <td class="colmn-left" *ngFor="let legalDocument of filterByKeyword('Contrat Bail Commercial gérer baux')"[routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></td>
              </tr>
            
              <tr>
                  <td class="colmn-left" *ngFor="let legalDocument of filterByKeyword('Contrat de sous-location gérer baux')"[routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></td>
              </tr>
            
              <tr>
                  <td class="colmn-left" *ngFor="let legalDocument of filterByKeyword('Quitance de loyer gérer baux')"[routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></td>
                 
              </tr>
              <tr>
                  <td class="colmn-left" *ngFor="let legalDocument of filterByKeyword('Contrat de Bail gérer baux')"[routerLink]="['legal-document-description/', legalDocument.id]"><div class="contrat" (click)="collapseNavbar()">{{legalDocument.shortName}}</div></td>
                  
              </tr>

          </tbody>
      </table>
  </div>
 </div>
 
</div> 