.responsive-title {
  font-size: calc(100% + 1vw + 1vh);
}

.responsive-title-3 {
  font-size: calc(30% + 1vw + 1vh);
}

.pap-divider {
  color: #1400c3;
  background-color: #1400c3;
  border: 4px solid;
  border-radius: 10px;
  width: 90%;
}

.w-50px {
  width: 50px;
}
