body {
  background-color: white;
}

/* Font Definitions */

@font-face {
  font-family: Wingdings;
  panose-1: 5 0 0 0 0 0 0 0 0 0;
}

@font-face {
  font-family: 'Cambria Math';
  panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
  font-family: 'Segoe UI';
  panose-1: 2 11 5 2 4 2 4 2 2 3;
}

@font-face {
  font-family: 'Traditional Arabic';
}

/* Style Definitions */

p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
  margin: 0in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoBodyText,
li.MsoBodyText,
div.MsoBodyText {
  mso-style-link: 'Body Text Char';
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 6pt;
  margin-left: 0in;
  font-size: 12pt;
  font-family: 'Arial', sans-serif;
}

p.MsoBodyText3,
li.MsoBodyText3,
div.MsoBodyText3 {
  mso-style-link: 'Body Text 3 Char';
  margin: 0in;
  text-align: justify;
  text-justify: kashida;
  text-kashida: 0%;
  font-size: 12pt;
  font-family: 'Arial', sans-serif;
}

span.BodyText3Char {
  mso-style-name: 'Body Text 3 Char';
  mso-style-link: 'Body Text 3';
  font-family: 'Arial', sans-serif;
}

span.BodyTextChar {
  mso-style-name: 'Body Text Char';
  mso-style-link: 'Body Text';
  font-family: 'Arial', sans-serif;
}

p.paragraph,
li.paragraph,
div.paragraph {
  mso-style-name: paragraph;
  margin-right: 0in;
  margin-left: 0in;
  font-size: 12pt;
  font-family: 'Times New Roman', serif;
}

span.normaltextrun {
  mso-style-name: normaltextrun;
}

span.eop {
  mso-style-name: eop;
}

.MsoChpDefault {
  font-family: 'Calibri', sans-serif;
}

.MsoPapDefault {
  margin-bottom: 8pt;
  line-height: 107%;
}

@page WordSection1 {
  size: 595.3pt 841.9pt;
  margin: 70.85pt 70.85pt 70.85pt 70.85pt;
}

div.WordSection1 {
  page: WordSection1;
  margin-top: 4%;
}

/* List Definitions */

ol {
  margin-bottom: 0in;
}

ul {
  margin-bottom: 0in;
}

p.MsoListParagraphCxSpFirst,
li.MsoListParagraphCxSpFirst,
div.MsoListParagraphCxSpFirst {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoListParagraphCxSpMiddle,
li.MsoListParagraphCxSpMiddle,
div.MsoListParagraphCxSpMiddle {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}

p.MsoListParagraphCxSpLast,
li.MsoListParagraphCxSpLast,
div.MsoListParagraphCxSpLast {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  font-size: 10pt;
  font-family: 'Times New Roman', serif;
}
