<section  id="section_3">
    
    <h2 class="titel-line">Comment ça marche?</h2>
<div class="container">
    <div class="row left">    
    <div class="parag">
        <div>
            <h1 class="number">1</h1><p class="step"> Complétez un formulaire et vos documents se génèrent automatiquement</p>
        </div>
        <div>
            <h1 class="number">2</h1><p class="step">Signez-les en ligne tout simplement et rapidement</p> 
        </div>
        <div>
            <h1 class="number">3</h1><p class="step">Votre création est finalisée par nos formalistes qui répondent à toutes vos questions</p> 
        </div>
    </div>    
</div>
</div> 
<div class="container">
    <div class="row right image">
        <img src="../../../../content/images/step.png" alt="">
 
    </div>
</div>
<h2 class="titel-line">Nos différents packs</h2>
<div class="packs">
<div class="row text-center align-items-end">
    <!-- Pricing Table-->
    <div class="col-lg-2 mb-5 mb-lg-0">
      <div class="bg-white p-5 rounded-lg shadow" style="color: #4fffb5;">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
        <h2 class="h1 font-weight-bold">199DT<span class="text-small font-weight-normal ml-2">/ mois</span></h2>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>
      </div>
    </div>
    <!-- END -->


    <!-- Pricing Table-->
    <div class="col-lg-2 mb-5 mb-lg-0">
      <div class="bg-white p-5 rounded-lg shadow" style="color: #9059f3;">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Pro</h1>
        <h2 class="h1 font-weight-bold">399DT<span class="text-small font-weight-normal ml-2">/ mois</span></h2>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>

      </div>
    </div>
    <!-- END -->


    <!-- Pricing Table-->
    <div class="col-lg-2">
      <div class="bg-white p-5 rounded-lg shadow" style="color: #ddb700;">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Premuim</h1>
        <h2 class="h1 font-weight-bold">899DT<span class="text-small font-weight-normal ml-2">/ mois</span></h2>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>

      </div>
    </div>
    <!-- END -->

  </div>
</div>
</div>
</section>