/* ==========================================================================
Home page section 3 styles
========================================================================== */

section {
  min-height: 1020px;
  margin-top: -30px;
  display: block;
  font-family: 'calibri';
}
section h2,
h6 {
  text-align: center;
}

.menu-button {
  text-align: center;
}

section h2 {
  font-weight: bold;
}

hr {
  width: device-width;
}
#section_3 {
  background-color: #fcfcfc;
  width: auto;
  height: 1020px;
}

.titel-line {
  color: #1400c3;
}
.titel-line:before {
  content: '';
  background: url('../../../../content/images/bottom-line.png') no-repeat;
  height: 8px;
  width: 100%;

  position: absolute;
  margin-top: 41px;
  margin-left: -122px;
}

.bloc {
  padding: 10px;
  margin: 10px 0;
}

.bloc_1 {
  padding: 5px;
  margin: 5px auto;
  text-align: center;
}

.bloc_1 h4,
h6 {
  text-align: center;
}

.bloc h4 {
  text-align: center;
  font-weight: bold;
}

.bloc h6 {
  text-align: center;
}

iframe {
  border: none;

  height: 600px;
}
.row {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section h2,
  h6 {
    margin: 10px auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section h2,
  h6 {
    margin: 20px auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  section h2,
  h6 {
    margin: 30px auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  section h2,
  h6 {
    margin: 50px auto;
  }
}

.left {
  width: 33%;
  margin-left: 5%;
}

.right {
  margin-left: 45%;
  margin-top: -35%;
}
.image {
  width: auto;
  height: auto;
}

/* 
.right{

  right: 10%;
  margin-top: -43%;
}
.image{
    position:absolute;
    width: 95%;
    
}
 */

.number {
  margin-bottom: 1rem;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.015em;
  font-family: 'calibri';
}

.step {
  text-align: initial;
  margin-bottom: 1rem;
  font-size: 17px;
  line-height: 24px;
  color: #69719b;
  font-weight: normal;
}
.packs {
  position: relative;
  left: 25%;
}
