<section  id="section_3">
    <h2 class="titel-line">Comment ça marche</h2>
    <div class="container">
        <div class="row">
            <img  class="col-md bloc" src="../../../../content/images/ccm.png" alt="how-it-works">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe title="Comment ça marche" class="col-md bloc embed-responsive-item" src="https://www.youtube.com/embed/C0DPdy98e4c"></iframe>
            </div>
        </div>
    </div>
</section>
