<!------------------------       RADIO      ------------------------------->
     

<div class="form-group"> <div class="form-group row" *ngIf="(input.type === 'radio')">

    <div class="col-1">
            <input  type="{{input.type}}" id="{{input.id}}" name="{{input.name}}" required (change)="onChange(input.id)"
                value="{{replaceInput(input.value)}}" class="form-control  h-50 input-margin">
            </div>

        <label *ngIf="(input.type === 'radio' ) " for="{{input.id}}"
            class="col-5 col-form-label ng-star-inserted">{{input.label}}</label>



        <span *ngIf="input.help !== ''" matTooltip="{{input.help}}" matTooltipPosition="right" matTooltipClass="md-13"
            class="help col-1 offset-5 col-form-label ng-star-inserted">
            <em class="material-icons md-22 gray">help</em>
            <div class="text-descriptive text-muted" *ngIf="input.description !== ''">{{input.description}}</div>
        </span>

    </div> 
    <!-----------------------------------          CHECKBOX      ------------------>

    <div class="form-group row " *ngIf="(input.type === 'checkbox') " >
        
       

      
        <label *ngIf="( input.type === 'checkbox') " for="{{input.id}}"
            class="col-5 col-form-label chek-input ng-star-inserted">{{input.label}} </label>

        <div class="col-1">
            <label class="toggle-container  col-form-label">
                <input (change)="onChange(input.id)" id="{{input.id}}" type="{{input.type}}" value="{{input.value}}"
                    required name="{{input.name}}" class="real-checkbox ">
                <div class="toggle-button"></div>
            </label>
        </div>



        <span *ngIf="input.help !== ''" matTooltip="{{input.help}}" matTooltipPosition="right" matTooltipClass="md-13"
            class="help col-1 offset-5 col-form-label ng-star-inserted">
            <em class="material-icons md-22 gray">help</em>
            <div class="text-descriptive text-muted" *ngIf="input.description !== ''">{{input.description}}</div>
        </span>
        
    </div>




  
    <!------------------------------------->


    <div class="form-group row" *ngIf="input.type !== 'radio' && input.type !== 'checkbox' ">

        <label for="{{input.id}}" class="col-lg-6 col-xl-6 col-form-label">{{input.label}}</label>
        <!--SWITCHCASE INPUT TYPE-->
        <span [ngSwitch]="input.type" class="col-lg-5 col-xl-5">
            <span *ngSwitchCase="'text'">
                <input type="{{input.type}}" id="{{input.id}}" name="{{input.name}}" placeholder="{{input.placeHolder}}"
                    value="{{input.value}}" (change)="onChange(input.id)" class="form-control">

            </span>
            <span *ngSwitchCase="'cin'">
                <input type="{{input.type}}" id="{{input.id}}" name="{{input.name}}" placeholder="{{input.placeHolder}}"
                    value="{{input.value}}" required pattern="[0-8]" (change)="onChange(input.id)" class="form-control">

            </span>
            <span *ngSwitchCase="'textarea'">
                <textarea id="{{input.id}}" name="{{input.name}}" cols="30" rows="2" placeholder="{{input.placeHolder}}"
                    (change)="onChange(input.id)" class="form-control">{{input.value}}</textarea>
            </span>
            <span *ngSwitchCase="'select'">
                <select name="{{input.name}}" id="{{input.id}}" (change)="onChange(input.id)" class="form-control"
                    required>
                    <option value="" disabled selected>{{input.placeHolder}}</option>
                    <option *ngFor="let option of input.options" value="{{option}}">{{replaceInput(option)}}</option>
                </select>
                
            </span>
            <span *ngSwitchCase="'select_input_generator'">
                <select name="{{input.name}}" id="{{input.id}}" (change)="onChange(input.id)" class="form-control"
                    required>
                    <option value="{{input.value}}" disabled selected>{{input.placeHolder}}</option>
                    <option *ngFor="let option of input.options" value="{{option}}">{{option}}</option>
                </select>
            </span>
            <span *ngSwitchCase="'country'">
                <select name="{{input.name}}" id="{{input.id}}" (change)="onChange(input.id)" class="form-control">
                    <option value="" disabled selected>{{input.placeHolder}}</option>
                    <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
                </select>
            </span>
            <span *ngSwitchCase="'date'">
                <span class="input-group">
                    <input id="{{input.id}}" name="{{input.name}}" ngbDatepicker #datepicker="ngbDatepicker"
                        value="{{input.value}}" placeholder="dd/mm/yyyy" (change)="onChange(input.id)"
                        class="form-control" required>
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                            <fa-icon [icon]="['fas', 'calendar']" [fixedWidth]="true" size="lg"></fa-icon>
                        </button>
                    </span>
                </span>
            </span>
            <span *ngSwitchDefault>
                <input type="{{input.type}}" id="{{input.id}}" name="{{input.name}}" value="{{input.value}}"
                    (change)="onChange(input.id)" class="form-control">
            </span>



        </span>


        <span *ngIf="input.help !== ''" matTooltip="{{input.help}}" matTooltipPosition="right" matTooltipClass="md-13"
            class="col-lg-1 col-xl-1 col-md-1 col-form-label">
            <em class="material-icons md-22 gray">help</em></span>
        <div class="text-descriptive text-muted" *ngIf="input.description !== ''">{{input.description}}</div>
    </div>
</div>