<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-company-heading">Créer ou modifier une société</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyName">Nom de la société</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                           formControlName="companyName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyCapital">Capital</label>
                    <input type="number" class="form-control" name="companyCapital" id="field_companyCapital"
                           formControlName="companyCapital"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyUniqueIdentification">Identidiant unique</label>
                    <input type="text" class="form-control" name="companyUniqueIdentification" id="field_companyUniqueIdentification"
                           formControlName="companyUniqueIdentification"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyRepresentativeFullName">Nom complet du représentant</label>
                    <input type="text" class="form-control" name="companyRepresentativeFullName" id="field_companyRepresentativeFullName"
                           formControlName="companyRepresentativeFullName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyFullAddress">Adresse</label>
                    <input type="text" class="form-control" name="companyFullAddress" id="field_companyFullAddress"
                           formControlName="companyFullAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyType">Type de la société</label>
                    <input type="text" class="form-control" name="companyType" id="field_companyType"
                           formControlName="companyType"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
