<section  id="section_4">
    <h2 class="titel-line">PaperLabs est...</h2>

    <div class="container" id="how-does-it-work-container">
        <div class="row">

            <div class="col bloc" >
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/simple.png">
                    </div>
                    <div class="row bloc_1">
                        <h4>Simple</h4>
                    </div>
            </div>
            <div class="col bloc" >
                <div class="row bloc_1 img">
                    <img src="../../../../content/images/rapide.png">
                </div>
                <div class="row bloc_1">
                    <h4>Rapide</h4>
                </div>
            </div>
            <div class="col bloc" >
                <div class="row bloc_1 img">
                    <img src="../../../../content/images/securise.png">
                </div>
                <div class="row bloc_1">
                    <h4>Sécurisé</h4>
                </div>
            </div>
            <div class="col bloc" >
                <div class="row bloc_1 img">
                    <img src="../../../../content/images/economique.png">
                </div>
                <div class="row bloc_1">
                    <h4>Economique</h4>
                </div>
            </div>


        </div>

    </div>
</section>
