<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span >Société :</span> {{company.companyName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom de la société</span></dt>
                <dd>
                    <span>{{company.companyName}}</span>
                </dd>
                <dt><span>Capital</span></dt>
                <dd>
                    <span>{{company.companyCapital}}</span>
                </dd>
                <dt><span>Identifiant unique</span></dt>
                <dd>
                    <span>{{company.companyUniqueIdentification}}</span>
                </dd>
                <dt><span>Nom complet du représentant</span></dt>
                <dd>
                    <span>{{company.companyRepresentativeFullName}}</span>
                </dd>
                <dt><span>Adresse complete</span></dt>
                <dd>
                    <span>{{company.companyFullAddress}}</span>
                </dd>
                <dt><span>Type de la société</span></dt>
                <dd>
                    <span>{{company.companyType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
