<div class="row justify-content-center pt-lg-5">
<div class="col-md-10">
    <h2 id="page-heading">
        <span class="titel-commande">Sociétés</span>
        <hr>
        <button id="jh-create-entity" class="btn btn-primary create-new-bg float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Créer une nouvelle société
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 p-1 rounded rounded-pill shadow-sm border bg-light">
                    <button class="input-group-append btn" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                    <input type="search"[(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Rechercher une société"
                           aria-describedby="button-addon1" class="form-control border-0 bg-light ml-1">
                    <button class="input-group-append btn" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                </div>

            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="companies?.length === 0">
        <span>Aucune société trouvée</span>
    </div>
    <div class="table-responsive" *ngIf="companies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>Nom société</span></th>
            <th><span>Capital</span></th>
            <th><span>Identifiant</span></th>
            <th><span>Représentant</span></th>
            <th><span>Adresse</span></th>
            <th><span>Type</span></th>
            <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: trackId">
                <td><a [routerLink]="['/company', company.id, 'view' ]">{{company.companyName}}</a></td>
                <td>{{company.companyCapital}}</td>
                <td>{{company.companyUniqueIdentification}}</td>
                <td>{{company.companyRepresentativeFullName}}</td>
                <td>{{company.companyFullAddress}}</td>
                <td>{{company.companyType}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'view' ]"
                                class="btn btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'edit']"
                                class="btn text-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company', { outlets: { popup: company.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn text-danger btn-sm">
                            <fa-icon [icon]="'trash'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
