<section id="section_2">
    <h2 class="titel-line">Top 6 documents</h2>

    <div class="container" id="how-does-it-work-container">
        <div class="row">
            <div class="col-md-4 bloc">
                <a href="./user/legal-document-description/5dad0d7dd1a76c479c02affa99" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/ccm-1.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>CDI SIMPLE</h4>
                    </div>
                   <!--  <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div> -->
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="./user/legal-document-description/5dad0d7dd1a76c479c02affa90" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/ccm-1.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>SOLDE DE TOUT COMPTE</h4>
                    </div>
                    <!-- <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div> -->
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="./user/legal-document-description/5dad0d7dd1a76c479c02affa914" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/ccm-1.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>ACCORD DE RESILIATION AMIABLE</h4>
                    </div>
                    <!-- <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div> -->
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="./user/legal-document-description/5dad0d7dd1a76c479c02affa89" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/ccm-1.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>LETTRE DEMISSION</h4>
                    </div>
                    <!-- <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div> -->
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="./user/legal-document-description/5dad0d7dd1a76c479c02aff8" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/ccm-1.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>Accord de confidentialité</h4>
                    </div>
                    <!-- <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div> -->
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="#" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/ccm-1.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>CDD</h4>
                    </div>
                    <!-- <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div> -->
                </a>
            </div>

        </div>
    </div>
</section>
