<h4 class="card-title mt-1 mb-3 titel-commande">Mot de passe</h4>
<hr>

    <jhi-alert-error></jhi-alert-error>


                    <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="font-weight-bold" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Current password</span>:
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                       placeholder="{{'global.form.currentpassword.placeholder' | translate}}"
                                                                   formControlName="currentPassword">

                            </li>
                            <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
                                                               <small class="form-text text-danger"
                                                                       *ngIf="passwordForm.get('currentPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                                                   Your password is required.
                                                               </small>
                                                            </div>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <span class="font-weight-bold"for="newPassword" jhiTranslate="global.form.newpassword.label">New password</span>:
                                    </div>
                                    <div class="col">
                                        <jhi-password-strength-bar class="font-weight-bold"[passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                                    </div>
                                </div>
                                <input type="password" class="form-control" id="newPassword" name="newPassword"
                                                                  placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                                                 formControlName="newPassword">

                            </li>
                            <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                                                             <small class="form-text text-danger"
                                                                       *ngIf="passwordForm.get('newPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                                                   Your password is required.
                                                               </small>
                                                              <small class="form-text text-danger"
                                                                    *ngIf="passwordForm.get('newPassword').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                                                                Your password is required to be at least 4 characters.
                                                               </small>
                                                             <small class="form-text text-danger"
                                                                    *ngIf="passwordForm.get('newPassword').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                                                                 Your password cannot be longer than 50 characters.
                                                             </small>
                                                           </div>
                            <li  class="list-group-item">


                                    <span class="font-weight-bold"  for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</span>:
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                       formControlName="confirmPassword">

                            </li>
                            <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </small>
                            </div>

                            <li class="list-group-item"><button type="submit" [disabled]="passwordForm.invalid" class="w-100 btn btn-primary"
                                                                jhiTranslate="password.form.button">Save
                            </button>
                            </li>

                        </ul>
                    </form>








