<div class="card-overview">
    <div _ngcontent-doh-c18="" class="docs-example-viewer-wrapper">
        <div _ngcontent-doh-c18="" class="docs-example-viewer-title">

        </div>
        <div class="parag">
            <div class="col-11 col-md-8 col-lg-6 pb-5">
              <h1 class="about">QUI sommes-nous?</h1>
              
                <div class="group-parg-about">
                <p class="parg-about">
                    Plateforme juridique, <span class="paperabs">Paperlabs</span> propose un large éventail de services juridiques destinés
                    aussi bien aux particuliers qu’aux professionnels.  
                </p>
                <p class="parg-about">
                    Le site <span class="paperabs">Paperlabs</span>, grâce aux nouvelles technologies, permet aux personnes concernées
                    d’outrepasser la barrière que représente aujourd’hui le coût des services juridiques
                    traditionnels.
                </p>
                <p class="parg-about">
                    L’accès à des services qui pouvaient sembler rigides et onéreux s’en trouve simplifié.
                    L’utilisateur de la plateforme <span class="paperabs">Paperlabs</span> pourra non seulement créer ses documents
                    administratifs et juridiques en ligne, mais aussi avoir recours aux services d’un avocat en cas
                    de besoin. 
                </p>
             </div>
            
            </div>
        </div>
    </div>
</div>
