<div class="test">
    <div class="title"><strong> عقد تربص إعداد للحياة المهنية     </strong>
    </div>
    
          
    عدد <span *ngIf="getHtmlInputElement('input_numero_de_contrat').value !== '' ">{{getHtmlInputElement('input_numero_de_contrat').value}}</span>
</p> وزارة التكوين المهني و التشغيل   <p>
</p>   الوكالة الوطنية للتشغيل و العمل المستقل <p>
</p>   مكتب التشغيل و العمل المستقل  ب  <span *ngIf="getHtmlInputElement('input_adresse_bureau_emploi').value !== '' ">{{getHtmlInputElement('input_adresse_bureau_emploi').value}}</span> <p>
    
</p> <strong>  بين الممضين أسفله : </strong>  <p>
 </p>   اسم المؤسسة : <span *ngIf="getHtmlInputElement('input_nom_societe').value !== '' ">{{getHtmlInputElement('input_nom_societe').value}}</span> <p>
 </p>   النشاط الاقتصادي <span *ngIf="getHtmlInputElement('input_matricule_societe').value !== '' ">{{getHtmlInputElement('input_matricule_societe').value}}</span> <p>
 </p>   المقر الاجتماعي  <span *ngIf="getHtmlInputElement('input_adresse_sociale_societe').value !== '' ">{{getHtmlInputElement('input_adresse_sociale_societe').value}}</span> <p>
 </p>     الهاتف   <span *ngIf="getHtmlInputElement('input_numero_tel_societe').value !== '' ">{{getHtmlInputElement('input_numero_tel_societe').value}}</span> <p>
 </p>    الفاكس   <span *ngIf="getHtmlInputElement('input_fax_societe').value !== '' ">{{getHtmlInputElement('input_fax_societe').value}}</span><p>
 </p>   العنوان الالكتروني   <span *ngIf="getHtmlInputElement('input_email_societe').value !== '' ">{{getHtmlInputElement('input_email_societe').value}}</span><p>
 </p>   هيكل الضمان الاجتماعي و رقم الانخراط <span *ngIf="getHtmlInputElement('input_identification_fiscale').value !== '' ">{{getHtmlInputElement('input_identification_fiscale').value}}</span><p>
 </p>   رئيس المؤسسة <span *ngIf="getHtmlInputElement('input_chef_entreprise').value !== '' ">{{getHtmlInputElement('input_chef_entreprise').value}}</span><p>
</p>    الممثل عند الاقتضاء من طرف <span *ngIf="getHtmlInputElement('input_vise_chef_entreprise').value !== '' ">{{getHtmlInputElement('input_vise_chef_entreprise').value}}</span><p>
</p>    الصفة <span *ngIf="getHtmlInputElement('input_adjectif_vise_chef_entreprise').value !== '' ">{{getHtmlInputElement('input_adjectif_vise_chef_entreprise').value}}</span><p>
    
<div class=title> <strong> من جهة </strong></div>
    
-الشاب(ة): 2  
</p>  الاسم و اللقب <span *ngIf="getHtmlInputElement('input_nom_prenom_employe').value !== '' ">{{getHtmlInputElement('input_nom_prenom_employe').value}}</span> <p>
</p>   تاريخ <span *ngIf="getHtmlInputElement('input_date_naissance_employe').value !== '' ">{{getHtmlInputElement('input_date_naissance_employe').value}}</span> <p> 
</p>   مكان الولادة  <span *ngIf="getHtmlInputElement('input_lieu_naissance_employe').value !== '' ">{{getHtmlInputElement('input_lieu_naissance_employe').value}}</span> <p>           
</p>   عنوان محل السكنى <span *ngIf="getHtmlInputElement('input_adresse_employe').value !== '' ">{{getHtmlInputElement('input_adresse_employe').value}}</span> <p>
</p>    الهاتف  <span *ngIf="getHtmlInputElement('input_num_tel_employe').value !== '' ">{{getHtmlInputElement('input_num_tel_employe').value}}</span> <p>
</p>    العنوان الالكتروني <span *ngIf="getHtmlInputElement('input_email_employe').value !== '' ">{{getHtmlInputElement('input_email_employe').value}}</span> <p>
</p>    رقم بطاقة التعريف الوطنية <span *ngIf="getHtmlInputElement('input_num_cin_employe').value !== '' ">{{getHtmlInputElement('input_num_cin_employe').value}}</span><p>
</p>    الشهادة   <span *ngIf="getHtmlInputElement('input_diplome_employe').value !== '' ">{{getHtmlInputElement('input_diplome_employe').value}}</span> <p>
</p>    الاختصاص   <span *ngIf="getHtmlInputElement('input_specialite_diplome_employe').value !== '' ">{{getHtmlInputElement('input_specialite_diplome_employe').value}}</span><p>
</p>   تاريخ الحصول على الشهادة   <span *ngIf="getHtmlInputElement('input_date_diplome_employe').value !== '' ">{{getHtmlInputElement('input_date_diplome_employe').value}}</span><p>
</p>    مسجل بمكتب التشغيل و العمل المستقل ب  <span *ngIf="getHtmlInputElement('input_inscription_employe_bureau_emploi').value !== '' ">{{getHtmlInputElement('input_inscription_employe_bureau_emploi').value}}</span><p>
</p>    الحساب الجاري  <span *ngIf="getHtmlInputElement('input_rip_rib_employe').value !== '' ">{{getHtmlInputElement('input_rip_rib_employe').value}}</span><p>
</p>    فرع البنك أو مكتب البريد   <span *ngIf="getHtmlInputElement('input_banque_poste_employe').value !== '' ">{{getHtmlInputElement('input_banque_poste_employe').value}}</span><p>
        

   <div class="title">  <strong>    من جهة أخرى </strong>
   </div>
    وقع الاتفاق على ما يلي :
    <p> <strong>   :الفصل الأول  </strong> </p>
    يتولى المشغل بمقتضى هذا قبول الشاب(ة) في تربص إعداد للحياة المهنية قصد تيسير إدماجه داخل المؤسسة و ذلك طبقا للتشريع و التراتيب الجاري بها العمل.
    <p><strong>  :2 الفصل   </strong> </p>
  يضطلع بتأطير الشاب(ة) أثناء فترة التربص السيد (الاسم و اللقب والمهنة)
  <span *ngIf="getHtmlInputElement('input_poste_travail_employe').value !== '' ">{{getHtmlInputElement('input_poste_travail_employe').value}}</span>
    <span *ngIf="getHtmlInputElement('input_adresse_stage_employe').value !== '' ">{{getHtmlInputElement('input_adresse_stage_employe').value}}</span>   ويجرى التربص بمواقع العمل التابعة للمؤسسة و خاصة ب  
    و ذلك حسب تدرج متناسق و شامل له علاقة مع متطلبات العمل الذي تم من أجله قبول الشاب(ة).
    <p><strong>: الفصل  3    </strong>  </p>       
     يلتزم الشاب(ة) بمتابعة حلقات تأهيل تكميلي التي يقع تنظيمها بالمؤسسة أو بهيكل التكوين الذي تعينه الوكالة الوطنية للتشغيل و العمل المستقل.
    يلتزم المشغل بالسماح له بمزاولة التأهيل وفقا لبرنامج يتفق عليه مسبقا مع الوكالة.
     <p><strong>:الفصل  4 </strong></p>
     حددت مدة التربص ب <span *ngIf="getHtmlInputElement('input_duree_total_contrat').value !== '' ">{{getHtmlInputElement('input_duree_total_contrat').value}}</span>
         ابتداء من <span *ngIf="getHtmlInputElement('input_date_debut_contrat').value !== '' ">{{getHtmlInputElement('input_date_debut_contrat').value}}</span>
          إلى   <span *ngIf="getHtmlInputElement('input_date_fin_contrat').value !== '' ">{{getHtmlInputElement('input_date_fin_contrat').value}}</span>
     <p><strong>:الفصل 5</strong></p>
     يتولى متابعة سير التربص أعوان الوكالة الوطنية للتشغيل و العمل المستقل، و يتعين في هذا الصدد على المشغل و على الشاب(ة) كل فيما يخصه تسهيل مهمة الأعوان سالفي الذكر.
    <p><strong>: الفصل  6 </strong></p>
     يتقاضى الشاب(ة) خلال المدة المنصوص عليها بالفصل 4 أعلاه منحة شهرية غير خاضعة للحجز بعنوان المساهمات الاجتماعية و الضريبة على دخل الأشخاص الطبيعيين تسند لفائدته بحساب مائة و خمسون دينارا (150د) من قبل الوكالة الوطنية للتشغيل و العمل المستقل و بحساب   <span *ngIf="getHtmlInputElement('input_montant_entreprise').value !== '' ">{{getHtmlInputElement('input_montant_entreprise').value}}</span> د من قبل المشغل.  
    <p><strong>: الفصل 7</strong></p>
     يلتزم المشغل بتمكين الشاب(ة) خلال التربص من العطل المعمول بها داخل المؤسسة.
 <p><strong>: الفصل  8 </strong></p>
    وفقا لأحكام الأمر عدد 349 لسنة 2009 المؤرخ في 09 فيفري 2009 و المتعلق بضبط برنامج الصندوق الوطني للتشغيل و شروط و صيغ الانتفاع بها، ينتفع الشاب(ة) طيلة مدة التربص بنظام الضمان الاجتماعي المطبق على الطلبة. كما يتحمل الصندوق الوطني للضمان الاجتماعي تأمين المتربص ضد حوادث الشغل و الأمراض المهنية.
    يتعين على المشغل و المتربص كل فيما يخصه إتباع الإجراءات الخاصة بحوادث الشغل و الأمراض المهنية المنصوص عليها بالقانون عدد 28 لسنة 1994 المؤرخ في 21 فيفري 1994 و المتعلق بالتعويض عن الأضرار الحاصلة بسبب حوادث الشغل و الأمراض المهنية.
            <p><strong>: الفصل 9</strong></p>
     يترتب عن انقطاع التربص توقيف صرف المنحة المنصوص عليها بالفصل 6 أعلاه.
     <p><strong>: الفصل 10</strong></p>
     يتعين على المشغل و على الشاب(ة) كل فيما يخصه موافاة الوكالة الوطنية للتشغيل و العمل المستقل بتقرير عن التربص وفقا للأنموذج الموضوع على ذمتهم و ذلك بعد قضاء ستة أشهر من التربص و عند انتهاء فترة التربص أو عند فسخ العقد.
     : <p><strong>: الفصل 11 </strong></p>
    يلتزم المشغل بمقتضى هذا العقد و في صورة فسخ العقد و عدم إعلام الوكالة الوطنية للتشغيل و العمل المستقل بذلك في مدة أقصاها سبعة أيام من تاريخ فسخ العقد إرجاع كامل المنح و الامتيازات التي تم دفعها للشاب(ة) من قبل الوكالة خلال الفترة التي تلي فسخ العقد.
      <p><strong>: الفصل 12 </strong></p>
    يمكن للوكالة الوطنية للتشغيل و العمل المستقل أن تقرر إنهاء العمل بهذا العقد في صورة ارتكاب مخالفات متكررة من كلا الطرفين أو من أحدهما تتنافى و الأحكام التشريعية و الترتيبية الجاري بها العمل في هذا المجال.
      <p><strong>  : الفصل 13</strong></p>
    </p> يكتسب هذا العقد نفاذه القانوني ابتداء من تاريخ التأشير عليه من قبل الوكالة الوطنية للتشغيل و العمل المستقل. <p>
    
     <span *ngIf="getHtmlInputElement('input_lieu_signature_contrat').value !== '' ">{{getHtmlInputElement('input_lieu_signature_contrat').value}}</span>  حرر في أربع نظائر ب        في   <span *ngIf="getHtmlInputElement('input_date_signature_contrat').value !== '' ">{{getHtmlInputElement('input_date_signature_contrat').value}}</span>
    
                                                       <p>إمضاء المتربص</p>
                                                       <p>إمضاء و ختم المشغل</p>         
    
    
            <div class="title">   
    تأشيرة الوكالة الوطنية للتشغيل و العمل المستقل
            </div>
    
    
    
    
    
    </div>